<!DOCTYPE html>
<html lang="en">

<head>
  <% include templates/admin_head.ejs %>
  <title>Admin-PayMent</title>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>
      <div class="container-fluid">

        <h1 class="mt-4">결제관리 테이블 (PH)</h1>
            <table class="table table-bordered" width="100%" cellspacing="0" id="payTable">
                <thead class="thead-light">
                    <tr>
                        <th>PH_ID</th>
                        <th>PH_U_ID</th>
                        <th>U_UserName</th>
                        <th>U_Name</th>
                        <th>PH_PG_ID</th>
                        <th>PH_PG_Name</th>
                        <th>PH_Price</th>
                        <th>PH_Oprice</th>
                        <th>PH_Sprice</th>
                        <th>PH_Type</th>
                        <th>CR_Cancel</th>
                        <th>CR_cDt</th>
                    </tr>
                    <tr>
                        <th>PH_ID</th>
                        <th>회원고유키</th>
                        <th>회원아이디</th>
                        <th>회원이름</th>
                        <th>PG사 아이디</th>
                        <th>PG사 이름</th>
                        <th>실제 결제금액</th>
                        <th>할인전 금액</th>
                        <th>할인 금액</th>
                        <th>결제수단</th>
                        <th>취소여부</th>
                        <th>결제일시</th>
                        <th>결제취소</th>
                    </tr>
                </thead>
                <tbody id="list">
                  <% for(let i=0; i<data.length; i++){ %>
                    <tr>
                        <td><%=data[i].PH_ID%></td>
                        <td><%=data[i].PH_U_ID%></td>
                        <td><%=data[i].U_UserName%></td>
                        <td><%=data[i].U_Name%></td>
                        <td><%=data[i].PH_PG_ID%></td>
                        <td><%=data[i].PH_PG_Name%></td>
                        <td><%=data[i].PH_Price%></td>
                        <td><%=data[i].PH_Oprice%></td>
                        <td><%=data[i].PH_SPrice%></td>
                        <td><%=data[i].PH_Type%></td>
                        <td><%=data[i].CR_Cancel%></td>
                        <td><%=data[i].CR_cDt%></td>
                        <td><a href='/admin/cancelList/<%=data[i].PH_ID%>/<%=data[i].PH_U_ID%>'>취소</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <br>
            <div class="container" style="position:absolute;left:48%;">
              <!-- <a href="#" id="preBtn">이전</a> -->

              <label id="link2"></label>
              <!-- <a href="#" id="nextBtn">다음</a> -->
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<!-- Menu Toggle Script -->
<script>
$(document).ready(function(){
  $("#payTable").DataTable();
})

  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>




</body>

</html>
