<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-User</title>
  

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        
        <h1 class="mt-4">입점신청조회 테이블 (Store Inquire)</h1>
            <div class="container">
                <form>
                    <label>고객 이름 :</label>
                    <input type="text" class="form-control" value="<%=data.SI_Name%>" readonly = "readonly">
                    <label>휴대전화 :</label>
                    <input type="text" class="form-control" value="<%=data.SI_Phone%>" readonly = "readonly">
                    <label>브랜드명 :</label>
                    <input type="text" class="form-control" value="<%=data.SI_Brand%>" readonly = "readonly">
                    <label>주소 :</label>
                    <input type="text" class="form-control" value="<%=data.SI_Addr1%>" readonly = "readonly">
                    <label>문의날짜 :</label>
                    <input type="text" class="form-control" value="<%=data.SI_cDt%>" readonly = "readonly">
                    <label>문의사항 :</label>
                    <textarea class="form-control" cols="40" rows="10" value="<%=data.SI_Content%>" readonly="readonly"><%=data.SI_Content%></textarea>
                </form>
                <br>
                <button type="button" id="back" class="btn btn-primary">뒤로가기</button>
            </div>
            

          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Menu Toggle Script -->
<script>

$(document).ready(function(){
    $("#resTable").DataTable();

})

$("#back").click(function(){
    location.href="/admin/storeIn";
})



  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>




</body>

</html>
