<%- contentFor('HeaderCss') %>

<%- contentFor('Body') %>
<section class="main-container">
	<!--Page Title-->
	<div class="header">
		<div class="header-content d-flex">
			<div class="page-title">
				<%= title %>
			</div>
			<div class="page-title-desc">
				<% if(description) {%>
					<%=description %>
				<% } %>
			</div>
		</div>
	</div>
	<!--/Page Title-->
	<!-- 상세정보 -->
	<div class="card object-info">
		<div class="card-header">
			<div class="row">
				<div class="col-8">
					<a data-toggle="collapse" href="#object_detail_group"><span class="title">상세정보</span></a>
				</div>
				<div class="col-4">
					<div class="float-right action-btns action-new">
						<div name="new" class="btn btn-new px-4" onclick=objectInfo("new")>신규</div>
						<div name="modify" id='modify' class="btn btn-modify px-4 disabled">수정</div>
						<div name="save" class="btn btn-save px-4">저장</div>
						<div name="delete" class="btn btn-delete px-4 disabled yr_modal_delete" data-toggle="modal" data-target="#deleteModal">삭제
						</div>
						<div name="folder" class="btn btn-folder px-4" id="folding" onclick="folding()"></div>
					</div>
				</div>
			</div>
		</div>


		<div id="object_detail_group" class="brand_info">
			<form enctype="multipart/form-data">
				<!-- 좌측 -->
				<div class='info_left'>
					<!-- 새로이 등록하는 항목 -->
					<div id='new_test'>
							<div>
								<label class='info_name'>CR_ID</label>
								<!-- <span id="ad_id"></span> -->
								<input type='text' id='cr_id' class='long_box' readonly>
								
							</div>
							<div>
								<label class='info_name'>회원명</label>
								<select class='long_box select2' id='u_id' aria-readonly="true">
									<!-- <option value="null">배차 선택</option> -->
									<option></option>
								</select>
							</div>
							<div>
								<label class='info_name'>차량정보</label>
								<input type='text' id='input_ct_id' class='long_box' onclick="openSelect()" placeholder="차량 선택" readonly>
								<!-- <select class='long_box select2' id='ct_id' aria-readonly="true">
									<option></option>
								</select> -->
							</div>
							<div>
								<label class='info_name'>좌석번호</label>
								<!-- <span id="ad_id"></span> -->
								<input type='text' id='seat_num' class='long_box' readonly>
							</div>
					</div>
					<!-- 등록 여기까지 -->
					<!-- <div> -->
						<div id='new_test2'>
							<hr class="info_line">
							<div>
								<label class='info_name'>좌석금액</label>
								<input type="text" id='seat_price' class='long_box'  readonly>
							</div>
							<div>
								<label class='info_name'>회원 이름</label>
								<input type='text' id='user_name' class='long_box' readonly>
							</div>

						</div>
				</div>
					<!-- 중간 -->
						<div class='info_center'>
							<div>
								<label class='info_name'>회원 전화번호</label>
								<input type='text' id='user_phone' class='long_box' readonly>
							</div>
							<div>
								<label class='info_name'>회원 브랜드</label>
								<input type='text' id='user_brand' class='long_box' readonly>
							</div>
							<div>
								<label class='info_name'>회원주소</label>
								<input type="text" id='user_addr1' class='long_box' readonly>
							</div>
							<div>
								<label class='info_name'>상세주소</label>
								<input type="text" id='user_addr2' class='long_box' readonly>
							</div>
							<hr class="info_line">
							<div>
								<label class='info_name'>평택 출발시간</label>
								<input type="text" class='long_box' id='py_start' readonly>
							</div>
							<div>
								<label class='info_name'>서울 출발시간</label>
								<input type="text" class='long_box' id='se_start' readonly>
							</div>
						</div>
						<div class='info_right'>
							<div>
								<label class='info_name'>예매일</label>
								<input type="text" class='long_box' id='res_day' readonly>
							</div>
							<div>
								<label class='info_name'>취소여부</label>
								<select class='long_box' id='cr_cancel'>
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>

							<div>
								<label class='info_name'>평택스캔</label>
								<select class='long_box' id='py_scan'>
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
							<div>
								<label class='info_name'>서울스캔</label>
								<select class='long_box' id='se_scan'>
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
							<hr class="info_line">
							<div>
								<label class='info_name'>결제상태</label>
								<select class='long_box' id='cr_state'>
									<option value="결제대기">결제대기</option>
									<option value='결제완료'>결제완료</option>
									<option value='결제취소'>결제취소</option>
								</select>
							</div>
							<div>
								<label class='info_name'>비고</label>
								<input type="text" class='long_box' id='cr_memo'>
							</div>
						</div>
					<!-- </div> -->
			</form>
		</div>
	</div>

	<!-- /상세정보 -->
	<!-- <div class="btn" data-toggle="modal" data-target="#deleteModal">검색 모달</div> -->
	
	<!-- 테이블 -->
	<div class="card object-table">
		<div class="card-body container-flud">
			<div id="mgmt-table"></div>
		</div>
	</div>
	<!-- /테이블 -->

</section>

<%- contentFor('Modal') %>
<!-- 삭제 Modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
	aria-labelledby="ModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalTitle"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="material-icons">close</span>
				</button>
			</div>
			<div class="modal-body text-center">
				선택하신 예매을 삭제하시겠습니까?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteAD()">삭제</button>
				<button type="button" class="btn btn-normal" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>


<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" data-backdrop="static" tabindex="-1" role="dialog"
	aria-labelledby="ModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalTitle"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="material-icons">close</span>
				</button>
			</div>
			<div class="modal-body text-center message">
				등록하시겠습니까?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-normal" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 이미지 관리 모달 -->
<div class="modal fade" id="imgModal" data-backdrop="static" tabindex="-1" role="dialog"
	aria-labelledby="ModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalTitle"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="material-icons">close</span>
				</button>
			</div>
			<div class="modal-body text-center message">
				등록하시겠습니까?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-normal" data-dismiss="modal">취소</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 상세검색 -->
<div class="card object-search-popup" id="object-search-popup" style="display: none;">
	<div class="card-header object-search-header">
		<div class="row">
			<div class="col-8 search-header-title">
				<a data-toggle="collapse" href="#object_search_info"><span class="title">상세검색</span></a>
			</div>
			<div class="col-4">
				<div class="float-right action-btns action-new">
					<div name="reset" class="btn btn-reset px-4" onclick="searchPopupReset()">초기화</div>
				</div>
			</div>
		</div>
	</div>
	<div id="object_search_info" class="card-body collapse show">
		<div class='detail_search_form'>
		<form style="padding: 10px;">
			
			<!-- <div class="form-group row">
				<label class="col-3 col-form-label">ID</label>
				<div class="col-9">
					<input type="text" class="form-control" id="inputID" />
				</div>
			</div> -->
			<div class="form-group row">
				<label class="col-3 col-form-label pt-0">검색조건</label>
				<div class="col-9 align-self-center">
					<input type="checkbox" id="searchType" switch="success" checked/>
					<label class="m-0" for="searchType" data-on-label="AND" data-off-label="OR"></label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">회원 이름</label>
				<div class="col-9">
					<input type="text" class="form-control inputAdTitle" id="search_user_name">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">회원 전화번호</label>
				<div class="col-9">
					<input type="number" class="form-control inputAdTitle" id="search_user_phone">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">회원브랜드</label>
				<div class="col-9">
					<input type="text" class="form-control inputAdTitle" id="search_user_brand">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">회원주소</label>
				<div class="col-9">
					<input type="text" class="form-control inputAdTitle" id="search_user_addr1">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">상세주소</label>
				<div class="col-9">
					<input type="text" class="form-control inputAdTitle" id="search_user_addr2">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">운송사명</label>
				<div class="col-9">
					<select id='search_ct_id' class="form-control select2" style="width:100%">
						<!-- <option value="null">선택</option> -->
						<option></option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">좌석번호</label>
				<div class="col-9">
					<input type="number" class="form-control inputAdTitle" id="search_seat_num">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">좌석금액</label>
				<div class="col-9">
					<input type="number" class="form-control inputAdTitle" id="search_seat_price">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">예매일</label>
				<div class="col-9">
					<div type="" class="form-control col search_res_day" id="search_res_day"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">평택 출발날짜</label>
				<div class="col-9">
					<div type="" class="form-control col search_py_start" id="search_py_start"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">서울 출발날짜</label>
				<div class="col-9">
					<div type="" class="form-control col search_se_start" id="search_se_start"></div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">취소여부</label>
				<div class="col-9">
					<select id='search_cr_cancel' class="form-control" style="width:100%">
						<option value="null">선택</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">평택 스캔확인</label>
				<div class="col-9">
					<select id='search_py_scan' class="form-control" style="width:100%">
						<option value="null">선택</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">서울 스캔확인</label>
				<div class="col-9">
					<select id='search_se_scan' class="form-control" style="width:100%">
						<option value="null">선택</option>
						<option value="Y">Y</option>
						<option value="N">N</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-3 col-form-label">비고</label>
				<div class="col-9">
					<input type="number" class="form-control inputAdTitle" id="search_cr_memo">
				</div>
			</div>
		</form>
	</div>
		<div class="search-footer row" style="background-color: #ffffff;">
			<div class="col-4 pr-1">
				<button class="btn btn-close" onclick="searchPopupClose()">닫기</button>
			</div>
			<div class="col-8">
				<button class="btn btn-search" onclick="searchPopupAction()">검색</button>
			</div>
		</div>
	</div>
</div>

<!-- 좌석현황 모달 -->
<div class="card object-search-popup" id="object-seat-popup" style="display: none;">
	<div class="card-header object-search-header">
		<div class="row">
			<div class="col-8 search-header-title">
				<a data-toggle="collapse" href="#object_search_info"><span class="title">예매된 좌석</span></a>
			</div>
		</div>
	</div>
	<div id="object_search_info" class="card-body collapse show">
		<div class='detail_search_form'>
            <div class="seat-map seatCharts-container">
            </div>
		</div>
		<div class="search-footer row" style="background-color: #ffffff;">
			<div class="col-12">
				<button class="btn btn-search" onclick="seatClose()">닫기</button>
			</div>
		</div>
	</div>
</div>

<!-- 전체 좌석현황 모달 -->
<div class="card object-search-popup" id="object-res-seat-popup" style="display: none;">
	<div class="card-header object-search-header">
		<div class="row">
			<div class="col-10 search-header-title">
				<div><span class="title">전체 좌석현황</span><span class="title" id='title_info'></span></div>
			</div>
		</div>
	</div>
	<div id="object_search_info" class="card-body collapse show">
		<div class='detail_search_form'>
            <div class="res-seat-map seatCharts-container">
            </div>
		</div>
		<div class="search-footer row" style="background-color: #ffffff;">
			<div class="col-12">
				<button class="btn btn-search" onclick="ResseatClose()">닫기</button>
			</div>
		</div>
	</div>
</div>
<%- contentFor('FooterJs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.0.1/exceljs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="/js/admin/admin_az369_reservation.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script> -->