<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-User</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        
        <h1 class="mt-4">회원정보 테이블 (User)</h1>
        <a href="/admin/userInsert" style="font-size: 20px;">회원정보 추가</a>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>U_ID</th>
                        <th>U_UserName</th>
                        <th>U_Name</th>
                        <th>U_Email</th>
                        <th>U_Phone</th>
                        <th>U_Brand</th>
                        <th>U_Zip</th>
                        <th>U_Addr1</th>
                        <th>U_Addr2</th>
                        <th>U_cDt</th>
                        <th>U_uDt</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>                                              
                <tbody id="list"> 
                  <% for(let i=0; i<data.length; i++){ %>
                    <tr>
                        <td><%=data[i].U_ID%></td>
                        <td><%=data[i].U_UserName%></td>
                        <td><%=data[i].U_Name%></td>
                        <td><%=data[i].U_Email%></td>
                        <td><%=data[i].U_Phone%></td>
                        <td><%=data[i].U_Brand%></td>
                        <td><%=data[i].U_Zip%></td>
                        <td><%=data[i].U_Addr1%></td>
                        <td><%=data[i].U_Addr2%></td>
                        <td><%=data[i].U_cDt%></td>
                        <td><%=data[i].U_uDt%></td>
                        <td><a href='/admin/userModify/<%=data[i].U_ID%>'>수정</a></td>
                        <td><a href='/admin/userDelete/<%=data[i].U_ID%>'>삭제</a></td>
                    </tr>
                    <% } %>                     
                </tbody>               
            </table>
            <br>
            <div class="container" style="position:absolute;left:48%;">
              <!-- <a href="#" id="preBtn">이전</a> -->
              
              <label id="link2"></label>
              <!-- <a href="#" id="nextBtn">다음</a> -->
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/js/join_address.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Menu Toggle Script -->
<script>
  let currentPage = 1;
  //전체 페이지 수
  $.ajax({
    url : "/admin/user/count",
    method : "post",
    async : false,	
    success : function(res){
      for(i=1; i<Math.ceil(res.data[0].cnt/10)+1; i++){
        let html ="<a href=/admin/user/"+i+" style='font-size: 30px;'>"+i+"</a>&emsp;";
        $("#link2").append(html);       
      }
    }       
  });		


  //이전버튼
  $("#preBtn").click(function(){
    if(i == 1){
      alert("첫 페이지 입니다.");
      return;
    }
      
    location.href="/admin/user/"+i-1;
  });
    //다음버튼
  $("#nextBtn").click(function(){
    currentPage += 1;
    location.href="/admin/user/"+i+1;
  });



  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>




</body>

</html>
