<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-CarType</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        <h2 class="mt-4">버스정보 수정 (CarType)</h2>
          <div class="container col-md-6">
            <form>           
                <label for="cyId">CY_ID:</label>
                <input type="cyId" class="form-control" id="cyId" name="cyId" value="<%=data.CY_ID%>" readonly="readonly">  

                <label for="cyBId">CY_B_ID:</label>
                <select id="cyBId" class='form-control'>
                  <option value=0>운송사 선택</option>
              </select>  

                <label for="cyTy">CY_Ty:</label>
                <input type="cyTy" class="form-control" id="cyTy" name="cyTy" value="<%=data.CY_Ty%>"> 

                <label for="total">CY_TotalPassenger:</label>
                <input type="total" class="form-control" id="total" name="total" value="<%=data.CY_TotalPassenger%>">
             
                <label for="service">CY_ServicePassen:</label>
                <input type="service" class="form-control" id="service" name="service" value="<%=data.CY_ServicePassenger%>">

                <label for="price">CY_SeatPrice:</label>
                <input type="price" class="form-control" id="price" name="price" value="<%=data.CY_SeatPrice%>">

                <label for="cdt">CY_cDt:</label>
                <input type="cdt" class="form-control" id="cdt" name="cdt" value="<%=data.CY_cDt%>" readonly="readonly">
            </form>       
            <button type="button" class="btn btn-primary" onclick="modify()">수정</button>   
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
 

  $(document).ready(function(){
    $.ajax({
      url: '/admin/carTypeBList',
      method: 'post',
      dataType: 'json',
      success: function(res){
        console.log("data ::", res.data);
        for(let i=0; i<res.data.length; i++){
          let html = "<option value="+res.data[i].B_ID+">"+res.data[i].B_Name+"</option>"
              $("#cyBId").append(html);
        }
      }

    })
  })
  

  function modify(){
    $.ajax({
      url: "/admin/carType/modify",
      method: 'post',
      dataType: 'json',
      data: {
          'cyId' : $("#cyId").val(), 'total' : $('#total').val(), 'cyBId' : $("#cyBId").val(),
          'service' : $("#service").val(), 'price' : $("#price").val(), 'cyTy' : $("#cyTy").val()
          },
          success: function(res){
            if(res.data == "수정"){
              alert("수정완료");
              location.href="/admin/carType";
            }
          }
    })
  }

</script>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

</body>

</html>
