<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> 회원 테이블
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">
				<table>
					<tbody style="padding: 0;">
						<tr>
							<td>검색어</td>
							<td>
								<select id="choi">
									<option value="U_UserName">아이디</option>
									<option value="U_Name">이름</option>
									<option value="U_Brand">브랜드</option>
								</select>
								<input type="text" id="selResult">
							</td>
						</tr>
						<tr>
							<td>구분</td>
							<td>
								<input type="radio" class="chkMem" name="mem" value="y">관리자
								<input type="radio" class="chkMem" name="mem" value="n">회원
							</td>
						</tr>
						<tr>
							<td>가입일</td>
							<td><input type="text" id="dept"> ~ <input type="text" id="end"></td>
						</tr>
					</tbody>
					<tbody id="detailList" style="display: none;">
						<tr>
							<td>탈퇴여부</td>
							<td>		
								<input type="radio" class="chkOut" name="now">탈퇴
								<input type="radio" class="chkOut" name="now">정상
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" onclick="searchGo()">검색</button>
				<a id="detailGo" onclick="detailGo()" style="display: block; color: blue;">상세보기 펼침</a>
				<a id="detailExit" onclick="detailExit()" style="display: none; color: blue;">상세보기 닫기</a>

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="card-header">
						<div class="card-title">Individual column searching <span class="text-semibold">(Text fields)</span></div>
					</div>
					<div class="card-block p-b-0">
						<p>Individual columns searching with <code>text inputs</code>. It can be used by adding <code>column().search()</code> method to the datatable.</p>
					</div>
					<div class="table-responsive">
						<table class="table datatable-button-init-basic" id="tList">
							<thead>
								<tr>
								<th>U_ID</th>
								<th>U_UserName</th>
								<th>U_Name</th>
								<th>U_Email</th>
								<th>U_Phone</th>
								<th>U_Brand</th>
								<th>U_Zip</th>
								<th>U_Addr1</th>
								<th>U_Addr2</th>
								<th>U_cDt</th>
								<th>U_uDt</th>
								<th>Admin</th>
								<th>Modify</th>
								<th>Delete</th>
								</tr>
							</thead>
							<tbody id="testList">
								<% for(let i=0; i<data.length; i++){ %>
								<tr>
								<td><%=data[i].U_ID%></td>
								<td><%=data[i].U_UserName%></td>
								<td><%=data[i].U_Name%></td>
								<td><%=data[i].U_Email%></td>
								<td><%=data[i].U_Phone%></td>
								<td><%=data[i].U_Brand%></td>
								<td><%=data[i].U_Zip%></td>
								<td><%=data[i].U_Addr1%></td>
								<td><%=data[i].U_Addr2%></td>
								<td><%=data[i].U_cDt%></td>
								<td><%=data[i].U_uDt%></td>
								<td><%=data[i].U_isAdmin%></td>
								<td><a class="icon-pencil6" id='<%=data[i].U_ID%>' data-toggle="modal" data-target="#modal_info_header" onclick="edit(this)">Edit</a></td>
								<td><a class="icon-trash" id='<%=data[i].U_ID%>' data-toggle="modal" data-target="#modal_danger_header" onclick="del(this)">Delete</a></td>		
								</tr>
								<% } %>  				
							</tbody>
						</table>
					</div>
				</div>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_primary_header">회원 추가</button>
				<!-- 수정 모달 -->
				<div id="modal_info_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-info">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">회원 수정</div>
							</div>
							<div class="modal-body" id="moList">
								
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-info" id="update">Modify</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 삭제 모달 -->
				<div id="modal_danger_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-danger">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">회원 삭제</div>
							</div>
							<div class="modal-body">
								<p>삭제?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-danger" id="delete">Delete</button>
							</div>
						</div>
					</div>
				</div>

				<!-- 행 추가 -->
				<div id="modal_primary_header" class="modal fade" style="display: none;" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<div class="modal-title">회원 등록</div>
							</div>
							<div class="modal-body" id="insertList">
								<label>UserName</label><input type='text' class='form-control'id='userName'>
								<label>UserPw</label><input type='password' class='form-control'id='pw'>
								<label>Name</label><input type='text' class='form-control' id='name'>
								<label>Email</label><input type='text' class='form-control' id='email'>
								<label>Phone</label><input type='text' class='form-control' id='phone'>
								<label>Brand</label><input type='text' class='form-control' id='brand'>
								<label>Admin</label><select id="admin"><option value='y'>관리자</option><option value='n'>일반회원</option></select>
								<div class="address_form">
									<input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
									<button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
									<input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
									<input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
									<input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
									<input type="text" id="roadAddress" name="roadAddress" hidden="">
									<input type="text" id="jibunAddress" name="jibunAddress" hidden="">
								</div>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="insertMember()">추가</button>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>

	<script>

	function searchGo(){
		$('#testList').empty();
		$.ajax({
			url: '/admin/user/search',
			method: 'post',
			dataType: 'json',
			data: {
				'selectName' : $('#choi option:selected').val(), 
				'selResult' : $('#selResult').val(), 'chkMem' : $('input[name="mem"]:checked').val(),
				'dept' : $('#dept').val(), 'end' : $('#end').val()
			},
			success: function(res){
				console.log(res.data)
				for(let i=0; i<res.data.length; i++){
					let html = "<tr>";
						html += "<td>"+res.data[i].U_ID+"</td>";
						html += "<td>"+res.data[i].U_UserName+"</td>";
						html += "<td>"+res.data[i].U_Name+"</td>";
						html += "<td>"+res.data[i].U_Email+"</td>";
						html += "<td>"+res.data[i].U_Phone+"</td>";
						html += "<td>"+res.data[i].U_Brand+"</td>";
						html += "<td>"+res.data[i].U_Zip+"</td>";
						html += "<td>"+res.data[i].U_Addr1+"</td>";
						html += "<td>"+res.data[i].U_Addr2+"</td></tr>";
					$('#testList').append(html);

				}
			}
		})
	}

	function detailGo(){
		$('#detailList').css('display', 'block');
		$('#detailExit').css('display','block');
		$('#detailGo').css('display','none');

	}

	function detailExit(){
		$('#detailList').css('display', 'none');
		$('#detailExit').css('display','none');
		$('#detailGo').css('display','block');
	}

	function insertMember(){
		$.ajax({
            url: "/admin/user/insert",
            method: 'post',
            dataType: 'json',
            data: {
                'userName' : $("#userName").val(), 'pw' : $("#pw").val(), 'name' : $("#name").val(), 'email' : $("#email").val(),
                'phone' : $("#phone").val(), 'brand' : $("#brand").val(), 'postcode' : $("#postcode").val(), 'address' : $("#address").val(),
                'detailAddress' : $("#detailAddress").val(), 'admin': $('#admin').val()
                },
            success: function(res){
                if(res.data == "추가"){
                location.href="/admin/user/";
                }
            }
        })
	}
	
	//수정                    					
	function edit(e){
		$('#moList').empty();
		$.ajax({
			url: '/admin/userModify',
			method: 'post',
			dataType: 'json',
			data: {'uId' : e.id},
			success: function(res){
				console.log(res.data);
				let	html ="<input type='uId' class='form-control' id='uId' value="+res.data.U_ID+" style='display: none;'>";
					html += "<label for='userName'>U_UserName:</label><input type='userName' class='form-control' id='userName' value="+res.data.U_UserName+">";
					html += "<label for='name'>U_Name:</label><input type='name' class='form-control' id='name' value="+res.data.U_Name+">";
					html += "<label for='email'>U_Email:</label><input type='email' class='form-control' id='email' value="+res.data.U_Email+"> ";
					html += "<label for='phone'>U_Phone:</label><input type='phone' class='form-control' id='phone' value="+res.data.U_Phone+"> ";
					html += "<label for='brand'>U_Brand:</label><input type='brand' class='form-control' id='brand' value="+res.data.U_Brand+">";	
					html += "<label for='zip'>U_Zip:</label><input type='zip' class='form-control' id='zip' value="+res.data.U_Zip+">";
					html += "<label for='addr1'>U_Addr1:</label><input type='addr1' class='form-control' id='addr1' value="+res.data.U_Addr1+">";
					html += "<label for='addr2'>U_Addr2:</label><input type='addr2' class='form-control' id='addr2' value="+res.data.U_Addr2+">";
					html += "<label for='admin'>U_admin:</label><input type='admin' class='form-control' id='admin' value="+res.data.U_isAdmin+">";		
				$('#moList').append(html);	
			}
		})
		$('#modal_info_header').css('display','block');
	}

	$('#update').on('click', function(){
		$.ajax({
			url: "/admin/user/modify",
			method: 'post',
			dataType: 'json',
			data: {
				'uId' : $("#uId").val(), 'userName' : $('#userName').val(),'name' : $("#name").val(), 'email' : $("#email").val(),
				'brand' : $("#brand").val(), 'zip' : $("#zip").val(), 'addr1' : $("#addr1").val(), 'addr2' : $("#addr2").val(),
				'phone' : $("#phone").val()
				},
            success: function(res){
            	if(res.data == "수정"){
                	location.reload();
				}
            }
     	})
	})



	function del(e){
		$('#delete').attr('val', e.id);
		$('#delete').on('click',function(){
			$.ajax({
				url: '/admin/userDelete',
				method: 'post',
				dataType: 'json',
				data: {'uId' : e.id},
				success: function(res){
					location.reload()
				}
			})
		})
	}

	</script>
</body>
</html>
