<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> Advanced datatable
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="card-header">
						<div class="card-title">Individual column searching <span class="text-semibold">(Text fields)</span></div>
					</div>
					<div class="card-block p-b-0">
						<p>Individual columns searching with <code>text inputs</code>. It can be used by adding <code>column().search()</code> method to the datatable.</p>
					</div>
					<div class="table-responsive">
                        <div class="container col-md-6">
                            <form>           
                                <label for="userName">phId :</label> 
                                <input type="userName" class="form-control" id="phId" name="userName" value="<%=data.PH_ID%>" readonly= "readonly"> 
                                <label for="userName">phUId :</label> 
                                <input type="userName" class="form-control" id="phUId" name="userName" value="<%=data.PH_U_ID%>" readonly= "readonly"> 
                
                                <label for="userName">아이디 :</label> 
                                <input type="userName" class="form-control" id="userName" name="userName" value="<%=data.U_UserName%>" readonly= "readonly"> 
                
                                <label for="name">이름 :</label>
                                <input type="dept" class="form-control" id="dept" name="dept" value="<%=data.U_Name%>" readonly= "readonly"> 
                
                                <label for="return">운송사 :</label>
                                <input type="return" class="form-control" id="return" name="return" value="<%=data.B_Name%>" readonly= "readonly">
                             
                                <label for="lead">출발시간 :</label>
                                <input type="lead" class="form-control" id="lead" name="lead" value="<%=data.CT_DepartureTe%>" readonly= "readonly">
                
                                <label for="carNum">좌석개수 :</label>
                                <input type="carNum" class="form-control" id="carNum" name="carNum" value="<%=data.cnt%>" readonly= "readonly">
                
                                <label for="drName">총 가격 :</label>
                                <input type="drName" class="form-control" id="drName" name="drName" value="<%=data.PH_Price%>" readonly= "readonly">
                
                                <label for="drPhone">결제수단 :</label>
                                <input type="drPhone" class="form-control" id="drPhone" name="drPhone" value="<%=data.PH_Type%>" readonly= "readonly">
                
                                <label for="drPhone">취소여부 :</label>
                                <input type="drPhone" class="form-control" id="drPhone" name="drPhone" value="<%=data.CR_Cancel%>" readonly= "readonly">
                
                                <label for="drPhone">결제일 :</label>
                                <input type="drPhone" class="form-control" id="drPhone" name="drPhone" value="<%=data.CR_cDt%>" readonly= "readonly">
                            </form>
                            <br>       
                            <button type="button" class="btn btn-primary" onclick="modify()">결제취소</button>   
                          </div>
				</div>
				</div>
			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>
<script>
    function modify(){
    $.ajax({
        url: '/admin/cancelPayment',
        method: 'post',
        dataType: 'json',
        data: {'phId': $("#phId").val() ,'phUId': $("#phUId").val()},
        success: function(res){
            alert("취소완료");
            location.href= "/admin/payment"
        }

    })
}

</script>
</body>
</html>
