<!doctype html>
<html lang="en">
<head>
	<% include templates/admin_head.ejs %>
</head>
<body id="top">

<!-- Preloader -->
<!-- <div id="preloader">
	<div id="status">
		<div class="loader"></div>
	</div>
</div> -->
<!-- /Preloader -->

<div id="body-wrapper" class="body-container">

	<!-- Header begins -->
	<header class="main-nav clearfix">
		<% include templates/admin_header.ejs %>
	</header>
	<!-- /Header ends -->

	<!-- 네비게이션!@!@-->
	<aside class="menu">
		<div class="left-aside-container">			
			<% include templates/admin_sidebar.ejs %>
			<!-- /User profile -->
			<!-- Main menu -->
			<div class="menu-container">
				
			</div>
			<!-- /Main menu -->
		</div>
	</aside>
	<!-- /Sidebar -->

	<!-- Page container begins -->
	<section class="main-container">
		<h1 style="display:none">Empty Heading</h1>

			<!--Page Header-->
			<div class="header">
				<div class="header-content">
					<div class="page-title">
						<i class="icon-table2 position-left"></i> Advanced datatable
					</div>
				</div>
			</div>
			<!--/Page Header-->

			<div class="container-fluid page-content">

				<!-- Individual column searching (text fields) -->
				<div class="card card-inverse card-flat table-responsive">
					<div class="card-header">
						<div class="card-title">Individual column searching <span class="text-semibold">(Text fields)</span></div>
					</div>
					<div class="card-block p-b-0">
						<p>Individual columns searching with <code>text inputs</code>. It can be used by adding <code>column().search()</code> method to the datatable.</p>
					</div>
					<div class="table-responsive">
					<table class="table datatable-button-init-basic" id="tList">
						<thead>
							<tr>
								<th>회원아이디</th>
								<th>회원이름</th>
								<th>회원전화번호</th>
								<th>운송사이름</th>
								<th>버스규모</th>
								<th>결제수단</th>
								<th>예매좌석</th>
								<th>결제금액</th>
								<th>취소여부</th>
								<th>취소일시</th>                        
								<th>결제일시</th>
							</tr>
						</thead>
						<tbody>
							<% for(let i=0; i<data.length; i++){ %>
							<tr>
								<td><%=data[i].U_UserName%></td>                        
								<td><%=data[i].U_Name%></td>
								<td><%=data[i].U_Phone%></td>
								<td><%=data[i].B_Name%></td>
								<td><%=data[i].CY_Ty%></td>
								<td><%=data[i].PH_Type%></td>
								<td><%=data[i].CR_SeatNum%></td>
								<td><%=data[i].PH_Price%></td>
								<td><%=data[i].CR_Cancel%></td>
								<td><%=data[i].CR_CancelDt%></td>
								<td><%=data[i].CR_cDt%></td>
							</tr>	
							<% } %>  
							
						</tbody>
	
					</table>
				</div>
				</div>
			</div>

		</section>
		<!-- /Page Container ends -->
		<!-- ScrolltoTop -->
		<!-- <a id="scrollTop" href="#top"><i class="icon-arrow-up12"></i></a> -->
		<!-- /ScrolltoTop -->
		<% include templates/admin_footer.ejs %>
	</div>


</body>
</html>
