<!DOCTYPE html>
<html lang="en">

<head>


  <% include templates/admin_head.ejs %>
  <title>Admin-Business</title>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">


      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        <h2 class="mt-4">차량 운송사 수정 (Business)</h2>
          <div class="container col-md-6">
            <form>           
                <label for="bId">B_ID:</label>
                <input type="bId" class="form-control" id="bId" name="bId" value="<%=data.B_ID%>" readonly="readonly">             
                <label for="name">B_Name:</label>
                <input type="name" class="form-control" id="name" name="name" value="<%=data.B_Name%>">              
                <label for="Tel">B_Tel:</label>
                <input type="Tel" class="form-control" id="tel" name="tel" value="<%=data.B_Tel%>">
             
                <label for="Fax">B_Fax:</label>
                <input type="Fax" class="form-control" id="fax" name="fax" value="<%=data.B_Fax%>">

                <label for="eMail">B_eMail:</label>
                <input type="eMail" class="form-control" id="eMail" name="eMail" value="<%=data.B_Email%>">

                <label for="zip">B_Zip:</label>
                <input type="zip" class="form-control" id="zip" name="zip" value="<%=data.B_Zip%>">

                <label for="addr1">B_Addr1:</label>
                <input type="addr1" class="form-control" id="addr1" name="addr1" value="<%=data.B_Addr1%>">

                <label for="addr2">B_Addr2:</label>
                <input type="addr2" class="form-control" id="addr2" name="addr2" value="<%=data.B_Addr2%>">

                <label for="cDt">B_cDt:</label>
                <input type="cDt" class="form-control" id="cDt" name="cDt" value="<%=data.B_cDt%>" readonly="readonly">
            </form>       
            <button type="button" class="btn btn-primary" onclick="modify()">수정</button>   
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    function modify(){
      $.ajax({
        url: "/admin/business/modify",
        method: 'post',
        dataType: 'json',
        data: {
            'bId' : $("#bId").val(), 'bName' : $("#name").val(), 'bTel' : $('#tel').val(),
            'bFax' : $("#fax").val(), 'bEmail' : $("#eMail").val(), 'bZip' : $('#zip').val(),
            'bAddr1' : $("#addr1").val(), 'bAddr2' : $("#bAddr2").val()
            },
            success: function(res){
              if(res.data == "수정"){
                alert("수정완료");
                location.href="/admin/business";
              }
            }
      })
    }

  </script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
