<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-carTime</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      
      <!-- navi -->
      <% include templates/admin_nav.ejs %>

      <div class="container-fluid">
        <h1 class="mt-4">버스운행정보 테이블 (CarTime)</h1>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>CT_ID</th>
                        <th>CT_CY_ID</th>
                        <th>CT_DepartureTe</th>
                        <th>CT_ReturnTe</th>
                        <th>CT_LeadTe</th>
                        <th>CT_CarNum</th>
                        <th>CT_DriverName</th>
                        <th>CT_DriverPhone</th>
                        <th>Modify</th>
                        <th>Delete</th>
                    </tr>
                </thead>              
                                
                <tbody> 
                <% for(let i=0; i<data.length; i++){ %>
                    <tr>
                        <td><%=data[i].CT_ID%></td>
                        <td><%=data[i].CT_CY_ID%></td>
                        <td><%=data[i].CT_DepartureTe%></td>
                        <td><%=data[i].CT_ReturnTe%></td>
                        <td><%=data[i].CT_LeadTe%></td>
                        <td><%=data[i].CT_CarNum%></td>
                        <td><%=data[i].CT_DriverName%></td>
                        <td><%=data[i].CT_DriverPhone%></td>
                        <td><a href='carTimeModify/<%=data[i].CT_ID%>'>수정</a></td>
                        <td><a href='carTimeDelete/<%=data[i].CT_ID%>'>삭제</a></td>
                    </tr>
                    <% } %>  
                </tbody>
            </table>
            <a href="/admin/carTimeInsert">버스운행정보 추가</a>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
