<!DOCTYPE html>
<html lang="en">

<head>

  <% include templates/admin_head.ejs %>
  <title>Admin-User</title>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <% include templates/admin_sidebar.ejs %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      
      <!-- navi -->
      <% include templates/admin_nav.ejs %>
      <div class="container-fluid">
        <h2 class="mt-4">회원정보 수정 (User)</h2>
          <div class="container col-md-6">
            <form>      
                <label for="uId">U_ID:</label>
                <input type="uId" class="form-control" id="uId" name="uId" value="<%=data.U_ID%>" readonly="readonly"> 
                
                <label for="userName">U_UserName:</label>
                <input type="userName" class="form-control" id="userName" name="userName" value="<%=data.U_UserName%>">  

                <label for="name">U_Name:</label>
                <input type="name" class="form-control" id="name" name="name" value="<%=data.U_Name%>">   

                <label for="email">U_Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="<%=data.U_Email%>"> 

                <label for="phone">U_Phone:</label>
                <input type="phone" class="form-control" id="phone" name="phone" value="<%=data.U_Phone%>"> 

                <label for="brand">U_Brand:</label>
                <input type="brand" class="form-control" id="brand" name="brand" value="<%=data.U_Brand%>">
             
                <label for="zip">U_Zip:</label>
                <input type="zip" class="form-control" id="zip" name="zip" value="<%=data.U_Zip%>">

                <label for="addr1">U_Addr1:</label>
                <input type="addr1" class="form-control" id="addr1" name="addr1" value="<%=data.U_Addr1%>">

                <label for="addr2">U_Addr2:</label>
                <input type="addr2" class="form-control" id="addr2" name="addr2" value="<%=data.U_Addr2%>">
            </form>       
            <button type="button" class="btn btn-primary" onclick="modify()">수정</button>   
          </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    function modify(){
      $.ajax({
        url: "/admin/user/modify",
        method: 'post',
        dataType: 'json',
        data: {
            'uId' : $("#uId").val(), 'userName' : $('#userName').val(),'name' : $("#name").val(), 'email' : $("#email").val(),
            'brand' : $("#brand").val(), 'zip' : $("#zip").val(), 'addr1' : $("#addr1").val(), 'addr2' : $("#addr2").val(),
            'phone' : $("#phone").val()
            },
            success: function(res){
              if(res.data == "수정"){
                alert("수정완료");
                location.href="/admin/user/1";
              }
            }
      })
    }

  </script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
