<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/modify_02.css">

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>
        <!--// header완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>내정보 수정</h6>
                    <h1 style="font-family: 'PT Serif', serif;">MODIFY</h1>
                    <div class="bar"></div>


                    <div class="modify_box">

                        <form>
                            <div class="modify_process">본인인증 > <span>내정보 수정</span></div>

                            <h2><%=sessionUser.U_Name%>님 (<%=sessionUser.U_UserName%>)</h2>
                            <!--<div class="bar"></div>-->
                            <ul>
                                <!--<h3>수정할 정보를 입력해주세요.</h3>-->

                                <!--새 비밀번호-->
                                <li>
                                    <label for="password2"></label>
                                    <input type="password" id="password" name="password" placeholder="새 비밀번호 (영문 + 숫자 + 특문 포함 10글자 이상)">
                                </li>
                                <li>
                                    <label for="password2"></label>
                                    <input type="password" id="password2" name="password2" placeholder="비밀번호 확인">
                                    <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
								    <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지않습니다.</div>
                                </li>

                                <!--새 휴대전화번호-->
                                <li>
                                    <label for="phone"></label>
                                    <input type="text" id="phone" name="phone" value='<%= sessionUser.U_Phone%>' placeholder="새 휴대전화번호">
                                </li>

                                <!--새 브랜드명-->
                                <li>
                                    <label for="brand"></label>
                                    <input type="text" id="brand" name="brand" value='<%= sessionUser.U_Brand%>' placeholder="새 브랜드명">
                                </li>

                                <!--새 매장주소-->
                                <li>
                                    <div class="address_form">
                                        <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" value='<%= sessionUser.U_Zip%>'  style="background: #f8f8f8;">
                                        <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
                                        <input type="text" id="address" name="address" placeholder="매장주소" value='<%= sessionUser.U_Addr1%>' style="background: #f8f8f8;"><br>
                                        <input type="text" id="detailAddress" name="detailAddress" value='<%= sessionUser.U_Addr2%>' placeholder="매장상세주소">
                                        <input type="text" id="extraAddress" name="extraAddress" hidden=""> <!-- 기본정보  -->
                                        <input type="text" id="roadAddress" name="roadAddress" hidden="">
                                        <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                                    </div>
                                </li>
                                <div class="modify_btn">
                                    <a onclick="modifyInfo()">내정보 변경</a>
                                </div>

                                <a onclick="selDelBtn()" class="withdrawal_open"><u>회원탈퇴</u></a>


                        <!-- 예약이 없음!!@@@@@@@@@@@@@@ -->
                                <div id="withdrawal" class="layer">
                                    <!--popup PC-->
                                    <div class="withdrawal_box">

                                        <div class="withdrawal_tit">
                                            회원탈퇴
                                        </div>
                                        <div class="withdrawal_box_txt">
                                            <p>탈퇴 시 모든 데이터가 삭제되며 장차이용이 불가합니다. <br>
                                                예약중인 장차가 있으실 경우 <strong><u>환불 이후에 탈퇴가 가능</u></strong>합니다. <br>
                                                하단에 비밀번호를 입력하시면 탈퇴됩니다. <br>
                                                AZ369를 탈퇴하시겠습니까?</p>

                                            <input type="password" id="password3" name="password3" placeholder="회원가입시 등록된 비밀번호를 입력하세요.">

                                        </div>

                                        <ul class="withdrawal_btn">
                                            <li>
                                                <a href="modify2" class="withdrawal_close1 withdrawal_close">취소</a>
                                            </li>

                                            <li>
                                                <a onclick="delUser()" class="withdrawal_close2 withdrawal_close">회원탈퇴</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                    <!-- 예약이 있음!!@@@@@@@@@@@@@@ -->
                                <div id="withdrawal2" class="layer">
                                    <!--popup PC-->
                                    <div class="withdrawal_box">

                                        <div class="withdrawal_tit">
                                            회원탈퇴
                                        </div>
                                        <div class="withdrawal_box_txt">
                                            <p>탈퇴 시 모든 데이터가 삭제되며 장차이용이 불가합니다. <br>
                                                예약중인 장차가 있으실 경우 <strong><u>환불 이후에 탈퇴가 가능</u></strong>합니다. <br>
                                                헌재 아직 남아있는 장차예매가 있습니다. <br>
                                                환불이 완료된 후 다시 시도해주세요.</p>
                                        </div>

                                        <ul class="withdrawal_btn">
                                            <li>
                                                <a href="modify2" class="withdrawal_close1 withdrawal_close">취소</a>
                                            </li>

                                            <li>
                                                <a href="mypage" class="withdrawal_close2 withdrawal_close">예약현황</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>



                                <!--<div class="pw_modify_form modify_form">
                                    <ul>
                                        <li>
                                            <label for="password2"></label>
                                            <input type="password" id="password2" name="새 비밀번호" placeholder="새 비밀번호 (영문 + 숫자 + 특문 포함 10글자 이상)">
                                        </li>

                                        <li>
                                            <label for="password2"></label>
                                            <input type="password" id="password2" name="패스워드" placeholder="비밀번호 확인">
                                        </li>
                                    </ul>

                                    <div class="modify_btn">
                                        <a href="mypage.html">비밀번호 변경</a>
                                    </div>
                                </div>-->



                                <!--<div class="phone_modify_form modify_form">
                                    <ul>
                                        <li>

                                            <label for="phone"></label>
                                            <input type="text" id="phone" name="새 휴대전화" placeholder="새 휴대전화번호">
                                        </li>

                                        <li>
                                            <button onclick="phone_check" id="phone_coheck_btn">본인인증</button>
                                        </li>
                    
                                        <li>
                                            <label for="phone2"></label>
                                            <input type="text" id="phone2" name="휴대전화" placeholder="인증번호 6자리를 입력하세요." style="background: #eee;">
                                        </li>
                                    </ul>
                                    <div class="modify_btn">
                                        <a href="mypage.html">전화번호 변경</a>
                                    </div>
                                </div>-->



                                <!--<div class="add_modify_form modify_form">
                                    <ul>
                                        <li>
                                            <div class="address_form">
                                                <input type="text" id="postcode" name="postcode" placeholder="매장 우편번호" style="background: #f8f8f8;">
                                                <button type="button" onclick="execDaumPostcode()" value="우편번호 찾기" class="btn-primary round">우편번호찾기</button><br>
                                                <input type="text" id="address" name="address" placeholder="매장주소" style="background: #f8f8f8;"><br>
                                                <input type="text" id="detailAddress" name="detailAddress" placeholder="매장상세주소">
                                                <input type="text" id="extraAddress" name="extraAddress" hidden="">  기본정보  
                                                <input type="text" id="roadAddress" name="roadAddress" hidden="">
                                                <input type="text" id="jibunAddress" name="jibunAddress" hidden="">
                                            </div>
                                        </li>
                                    </ul>
                                    
                                </div>-->
                            </ul>


                        </form>

                    </div>
                </div>


            </div>
        </section>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
    </div>

    <!-- 다음 주소 API -->
    <script src="/js/join_address.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
         //비밀번호 정규식
         $("#password").change(function(){
             checkPassword($('#password').val());
         });
         function checkPassword(password){
             
             if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(password)){            
                 alert('숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
                 $('#password').val('').focus();
                 return false;
             }    
             var checkNumber = password.search(/[0-9]/g);
             var checkEnglish = password.search(/[a-z]/ig);
             if(checkNumber <0 || checkEnglish <0){
                 alert("숫자와 영문자를 혼용하여야 합니다.");
                 $('#password').val('').focus();
                 return false;
             }                                
         }
         //비밀번호 확인
          $(function(){ 
                 $("#alert-success").hide();
                 $("#alert-danger").hide();
                 $("input").keyup(function(){ 
                     var pwd1=$("#password").val(); 
                     var pwd2=$("#password2").val();
                     if(pwd1 != "" || pwd2 != ""){ 
                         if(pwd1 == pwd2){ 
                             $("#alert-success").show();
                             $("#alert-danger").hide(); 
                             $("#submit").removeAttr("disabled"); 
                             }else{
                             $("#alert-success").hide();
                             $("#alert-danger").show(); 
                             $("#submit").attr("disabled", "disabled");
                             } 
                         } 
                     }); 
                 });
 
                 //정보 수정
                 function modifyInfo(){
                     $.ajax({
                         url: "api/user/modifyInfo",
                         method: "post",
                         dataType: "json",
                         async: false,
                         data: {
                             pw : $("#password").val(), phone : $("#phone").val(),
                             brand : $("#brand").val(), postcode : $("#postcode").val(),
                             address : $("#address").val(), detailAddress : $("#detailAddress").val()
                         },
                         success: function(res){
                             console.log("콘솔 :",res.data)
                             alert("수정이 완료되었습니다.");
                             location.href = "mypage";
                         }
                     })
                 }
                 //회원 탈퇴 분기점
                 function selDelBtn(){
                     $.ajax({
                         url: "api/user/delchoice",
                         dataType: "json",
                         method: "post",
                         success: function(res){
                             console.log(res.data.length);
                             if(res.data.length != 0){
                                 location.href="#withdrawal2";
                             } else if(res.data.length === 0){
                                 location.href = "#withdrawal";
                             }
                         }
                     })
                 }
 
                 //회원 탈퇴
                 function delUser(){
                     if($("#password3").val() == ""){
                         alert("비밀번호를 입력해주세요.");
                         return;
                     }
                     $.ajax({
                         url: "api/user/deleteUser",
                         method: "post",
                         dataType: "json",
                         async: false,
                         data: {
                             'pw' : $("#password3").val()
                         },
                         success: function(res){
                             console.log("res :",res);
                             console.log("res.data :", res.data);
                             if(res.data === '실패'){
                                 alert("입력된 비밀번호가 틀립니다.");
                                 location.href="modify2";
                                 //location.href = '/logout';
                             } else if(res.data === "성공"){
                                 alert("탈퇴가 완료되었습니다.");
                                 location.href="/";
                             }
                             
                             
                         }
                     })
                 }
   
        'use sctrict';

        //gnb scroll 
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>


    <script>
        function openBus(evt, busSeat) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(busSeat).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body></html>
