<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_box.css">
    <link rel="stylesheet" href="/css/mypage.css">

    <title>AZ369 - 마이페이지</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 마이페이지">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />
    <!-- 인풋 클릭시 포커스 금지 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

    <!--datepicker 링크-->
    <link rel="stylesheet" href="css/jquery-ui.css">

    <!-- datepicker 한국어로 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>

    <!-- QR코드 -->
    <script src="/js/qrcode.js"></script>
    
    <!-- 슬라이드 -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"> -->
    <!-- <link rel="stylesheet" href="/css/swiper.min.css"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script> -->
    <!-- <script src="/js/swiper.min.js"></script> -->

    <style>
        .swal-text{text-align: center;line-height: 2;color: #444;}
        .swal-icon--success__line{background-color: #C3A164;}
        .swal-button,.swal-button:hover, .swal-button:not([disabled]):hover {background-color: #C3A164;}
        .swal-modal{border-radius: 12px;}
        .swal-icon--success__ring{border: none;}
        .swal-title{padding: 0px 16px;margin-top: -10px; margin-bottom: 10px;}
        .swal-content{margin-top: 15px;}
        .swal-footer{margin-top: 0px;}
        .swiper-slide .swiper-slide-active {width: 100%;}
    </style>
</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>마이페이지</h6>
                    <h1 style="font-family: 'PT Serif', serif;">MYPAGE</h1>
                    <div class="bar"></div>

                    <!--마이페이지 전체 틀-->
                    <div class="mypage_box">
                        <ul>
                            <!--마이페이지 왼쪽-->
                            <li class="box_01">
                                <div class="mypage_left">
                                    <div class="info_title">
                                        <h2><%= sessionUser.U_Name %>님 <br>
                                            <span>(<%= sessionUser.U_uId %>)</span></h2>
                                        <div class="modify_btn">
                                            <a href="modify">
                                                수정
                                            </a>
                                        </div>
                                        <div class="modify_btn_mo">
                                            <a href="modify">
                                               <u>내정보 수정</u>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <!-- <h5><%= sessionUser.U_Name %>님
                                            <span>(<%= sessionUser.U_uId %>)</span></h5> -->

                                            <dl>
                                                <dt><img src="/img/mypage/info_icon01.png" alt="브랜드샵 아이콘"></dt>
                                                <dd>
                                                    <% if(sessionUser) {%>
                                                        <%= sessionUser.U_Brand %>    
                                                    <% }%>
                                                    　
                                                　</dd>
                                                   </dl>
                                            <dl>
                                                <dt><img src="/img/mypage/info_icon02.png" alt="이메일 아이콘"></dt>
                                                <dd>
                                                    <% if(sessionUser) {%>
                                                        <%= sessionUser.U_Email %>    
                                                    <% }%>
                                                    　
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt><img src="/img/mypage/info_icon03.png" alt="휴대폰 아이콘" style="padding-left: 3px;"></dt>
                                                <dd> <% if(sessionUser) {%>
                                                        <%= sessionUser.U_Phone %>　
                                                    <% }%>
                                                    　
                                                </dd>
                                            </dl>

                                        <!-- <p>
                                            <%= sessionUser.U_Brand %>
                                            <br>
                                            <%= sessionUser.U_Email %>
                                            <br>
                                            <%= sessionUser.U_Phone %>
                                        </p> -->
                                    </div>

                                    <div class="mypage_nav">
                                        <button class="tablinks" id="tab1" onclick="openList(event, '01')"
                                            id="defaultOpen"> 승차권 확인<span><img src="/img/common/gray_arrow.png"
                                                    alt=""></span></button>

                                        <button class="tablinks" id="tab2" onclick="openList(event, '02')"> 예매결제내역
                                            <span><img src="/img/common/gray_arrow.png" alt=""></span></button>

                                        <button class="tablinks" id="tab3" onclick="openList(event, '03')"> 취소환불조회
                                            <span><img src="/img/common/gray_arrow.png" alt=""></span></button>
                                    </div>
                                    <!-- <div class="logout btn btn-secondary"><a href="login">로그아웃</a></div> -->
                                </div>

                                <!--왼쪽 목록버튼-->
                                <div class="mypage_nav_mo">
                                    <button class="tablinks" onclick="openList(event, '01')" id="defaultOpen">
                                        <p>승차권 확인</p>
                                    </button>

                                    <button class="tablinks" id="tab_mo2" onclick="openList(event, '02')">
                                        <p>예매결제내역</p>
                                    </button>

                                    <button class="tablinks" id="tab_mo3" onclick="openList(event, '03')">
                                        <p>취소환불조회</p>
                                    </button>
                                </div>
                            </li>


                            <!--오른쪽박스-->
                            <li class="box_02">
                                <div class="mypage_right">

                                    <!--첫번째 리스트 PC-->
                                    <div id="01" class="tabcontent">
                                        <h4>승차권 확인</h4>
                                        <p>현재 예매중인 장차내역입니다.</p>

                                        <div class="reserve_list_tit">
                                            <ul>
                                                <li>출발일시</li>
                                                <li>운행지역</li>
                                                <li>차량정보</li>
                                                <li>좌석번호</li>
                                            </ul>
                                        </div>
                                        <div id="reserve_list" class="scroll_style">
                                            
                                            <div class="reserve_bar_list">
                                            <% for(let i=0; i<data.length; i++){ %>
                                            <label>
                                                <input type="radio" class='chk' value='<%=data[i].payDay%>' name="day[]"
                                                    onclick="resModal(this)">
                                                <span class="reserve_bar">
                                                    <ul>
                                                        <li><%=data[i].deptTe%></li>
                                                        <li> 평택 - 동대문</li>
                                                        <!-- <li><%=data[i].carName%> / <%=data[i].carNum%></li> -->
                                                        <li><%=data[i].carName%></li>
                                                        <li><%=data[i].seatNumMo%></li>
                                                    </ul>
                                                </span>
                                            </label>
                                            
                                            <% } %>
                                        </div>
                                            <!--첫번째 리스트 mo 768px-->
                                            

                                            <div class="reserve_bar_mo_list">
                                                <% for(let i=0; i<data.length; i++){ %>
                                                <label>
                                                    <input type="radio" class='chk' value='<%=data[i].payDay%>' name="day[]"
                                                     onclick="resModal(this)" data-mob='mobile'>
                                                    <span class="reserve_bar_mo">
                                                        <ul>
                                                            <li>
                                                                <%=data[i].deptTe2%>
                                                                <h6><%=data[i].deptTe3%></h6>
                                                            </li>
                                                            <li>
                                                                평택 - 서울동대문
                                                                <h6><%=data[i].carName%></h6>
                                                            </li>
                                                            <li>
                                                                좌석번호
                                                                <h6><%=data[i].seatNumMo%></h6>
                                                            </li>
                                                            <li><i class="fas fa-chevron-right"></i></li>
                                                        </ul>
                                                    </span>
                                                </label>
                                                <% } %>
                                            </div>
                                            

                                        </div>

                                        <!-- <p class="cancel_info">취소할 예매 목록을 예매하시고 하단의 버튼을 누르시면 예매를 취소하실 수 있습니다.</p> -->

                                        <!-- <a class="popup_open" onclick="cancelBtn()">예매예매취소</a> -->


                                    </div>




                                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 -->
                                    <div id="02" class="tabcontent">

                                        <div class="tab_tit">
                                            <h4>예매결제내역</h4>
                                            <p>오늘일자기준 최대 6개월까지만 조회가 가능합니다. </p>
                                        </div>
                                        <!-- search -->
                                        <div class="searchBox">
                                            <div class="searchDate">
                                                <ul>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType1"
                                                                onclick="setSearchDate('0d')" />
                                                            <label for="dateType1">당일</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType2"
                                                                onclick="setSearchDate('1w')" />
                                                            <label for="dateType2">1주</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType3"
                                                                onclick="setSearchDate('1m')" />
                                                            <label for="dateType3">1개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType4"
                                                                onclick="setSearchDate('3m')" />
                                                            <label for="dateType4">3개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType5"
                                                                onclick="setSearchDate('6m')" />
                                                            <label for="dateType5">6개월</label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix">
                                                <ul>
                                                    <li>
                                                        <!-- 시작일 -->
                                                        <span class="dset">
                                                            <input type="text" id="deptDay"
                                                                class="datepicker inpType searchStartDate"
                                                                name="searchStartDate" readonly>
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <span class="demi">~</span>
                                                    </li>

                                                    <li>
                                                        <!-- 종료일 -->
                                                        <span class="dset">
                                                            <input type="text" id="endDay"
                                                                class="datepicker inpType searchEndDate"
                                                                name="searchEndDate" readonly>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <button class="search_btn" onclick="payBetween()">날짜조회</button>
                                            </div>
                                        </div>

                                        <!--두번째 리스트 PC-->
                                        <div class="list02 scroll_style">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>결제일시</th>
                                                        <th>출발일시</th>
                                                        <th>차량정보</th>
                                                        <th>좌석번호</th>
                                                        <th>결제수단</th>
                                                        <th>결제금액</th>
                                                    </tr>
                                                </thead>
                                                <tbody id='payList'>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--두번째 리스트 mo 414px-->

                                        <div class="list02_mo scroll_style">

                                        </div>

                                        <!--두번째 리스트 popup mo-->
                                        <div id="popup2" class="layer">
                                            <div class="popup_box_mo popup_box_mo2">
                                                <h3>예매 결제 상세내역</h3>
                                                <div class="table_mo">
                                                </div>

                                                <div class="popup_btn_mo">
                                                    <a class="btn btn-secondary popup_close" onclick="javascript:$('header').css('display','block');$('footer').css('display','block');">닫기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--환불조회 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@22 -->
                                    <div id="03" class="tabcontent">
                                        <div class="tab_tit">
                                            <h4>취소환불조회</h4>
                                            <p> 오늘일자기준 최대 6개월까지만 조회가 가능합니다. </p>
                                        </div>

                                        <!-- search -->

                                        <div class="searchBox">
                                            <div class="searchDate">
                                                <ul>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType10"
                                                                onclick="setSearchDate('0d')" />
                                                            <label for="dateType10">당일</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType11"
                                                                onclick="setSearchDate('1w')" />
                                                            <label for="dateType11">1주</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType12"
                                                                onclick="setSearchDate('1m')" />
                                                            <label for="dateType12">1개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType14"
                                                                onclick="setSearchDate('3m')" />
                                                            <label for="dateType14">3개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType15"
                                                                onclick="setSearchDate('6m')" />
                                                            <label for="dateType15">6개월</label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="clearfix">
                                                <ul>
                                                    <li>
                                                        <!-- 시작일 -->
                                                        <span class="dset">
                                                            <input type="text" id="cancelDeptDay"
                                                                class="datepicker inpType searchStartDate"
                                                                name="searchStartDate" readonly>
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <span class="demi">~</span>
                                                    </li>

                                                    <li>
                                                        <!-- 종료일 -->
                                                        <span class="dset">
                                                            <input type="text" id="cancelEndDay"
                                                                class="datepicker inpType searchEndDate"
                                                                name="searchEndDate" readonly>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <button class="search_btn" onclick="cancelBetween()">날짜조회</button>
                                            </div>
                                        </div>


                                        <div class="list03 scroll_style">
                                            <table class="table">
                                                <tr>
                                                    <th>결제일시</th>
                                                    <th>출발일시</th>
                                                    <th>취소일시</th>
                                                    <th>좌석번호</th>
                                                    <th>결제수단</th>
                                                    <th>환불금액</th>
                                                </tr>
                                                <tbody id="cancelList">
                                                </tbody>
                                            </table>
                                        </div>

                                        <!--세번째 리스트 mo 414px-->
                                        <div class="list03_mo scroll_style">
                                        </div>

                                        <!--세번째 리스트 popup mo-->
                                        <!--환불완료-->
                                        <div id="popup3" class="layer">
                                            <div class="popup_box_mo">
                                                <h3>취소환불 상세내역</h3>
                                                <div class="table_mo">

                                                </div>

                                                <div class="popup_btn_mo">
                                                    <a class="btn btn-secondary popup_close" onclick="javascript:$('header').css('display','block');$('footer').css('display','block');">닫기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--768부터적용-->
                                <!-- <div class="logout_mo btn btn-secondary" ><a href="logout">로그아웃</a></div> -->


                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </section>



        <!--//secton.about 완료-->


        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>

    <!-- 예매취소 후 리스트 모달 @@@@@@@@@@@@@@@ -->
    <!--popup PC-->
    <!-- <div id="popup" class="layer">
        <div class="popup_box">
            <div class="swiper-container myswiper">
                <div class="swiper-wrapper swiper-pc">
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
        <div class="popup_box_mo">
            <div class="swiper-container myswiper">
                <div class="swiper-wrapper swiper-mobile">
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div> -->

    <!-- <div id="popup1" class="layer1"> -->
    
<!-- </div> -->

    <div id="popup" class="layer">
        
        <div class="popup_box" id="qrcode_full_modal">
            <h3>QR코드 확인</h3>
            <div class="qrcode-full" id='qrcode-full'></div>
            <br>
            <p>좌석번호<span id="qr_seat_sum">1</span></p>
            <a onclick="javascript:$('#qrcode_full_modal').css('display','none');$('.ticket_modal').css('display','block');"
                class=" close_btn btn-secondary">뒤로</a>
        </div>
        <div class="popup_box ticket_modal scroll_style">
            <h3>승차권</h3>
            <div class="time_info">
        
                <!-- <div>
                                    <div class="time_info_date">
                                        <dd>2020.01.01 (월)</dd>
                                        <dd> 2020.01.02 (화)</dd>
                                    </div>
                                </div>
                          
                                <div>
                                    <div class="time_info_time">
                                        <ul>
                                            <li>
                                                <dt>평택</dt>
                                                <dd>23:00</dd>
                                            </li>
                                            <li>
                                                <img src="/img/mypage/info_arrow.png" alt="">
                                            </li>
                                            <li>
                                                <dt>동대문</dt>
                                                <dd>04:00</dd>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
        
                <!-- <ul>
                            <li>
                                <dd>2020.01.01 (월) ~</dd>
                                <dd>2020.01.02 (화)</dd>
                            </li>
                            <li>
                                <dl>
                                    <dt>평택</dt>
                                    <dd>23:00</dd>
                                </dl>
                                <dl><img src="/img/reservation/location_icon.png" alt=""></dl>
                                <dl>
                                    <dt>동대문</dt>
                                    <dd>04:00</dd>
                                </dl>
                            </li>
                        </ul> -->
            </div>
            <table class="payment_info">
                <!-- <tr>
                            <th>결제일시</th>
                            <td>2020.01.01 (월) 13:00</td>
                        </tr>
                        <tr>
                            <th>결제수단</th>
                            <td>신용카드 (국민 - 일시불)</td>
                        </tr>
                        <tr>
                            <th>결제금액</th>
                            <td>20,000원</td>
                        </tr> -->
            </table>
        
            <div class="checks etrans check_all_btn" id='chk05'>
                <input type="checkbox" id="ex_chk5" class="check-all">
                <label for="ex_chk5">전체선택</label>
            </div>
            <a onclick="resCancel(this)" class="cancel_btn select_cancel">선택 예매취소</a>
        
        
        
            <div class="qrcode_list scroll_style">
                <ul id='res_seat_list'>
                    <li>
                        <!-- <div class="checks etrans" id='chk01'>
                            <input type="checkbox" id="ex_chk1">
                            <label for="ex_chk1">좌석번호<span>1</span></label>
                            <a onclick="qrcode_full_open(this)" id="qrcode_full_btn">
                                <div class="qrcode"></div></a>
                        </div> -->
                    </li>
                </ul>
            </div>
            <p>QR코드를 누르시면 이미지가 커집니다. <br>
                출발 3일 전 ~ 당일은 예매취소가 불가능합니다. <a href="refund"><u>환불규정보기</u></a></p>
        
            <a onclick="javascript:$('#popup').css('display','none');$('header').css('display','block');$('footer').css('display','block');"
                class=" close_btn btn-secondary">닫기</a>
        </div>
        
    </div>
    
    <!--두번째 리스트 popup mo-->
    <div id="popup2" class="layer">
        <div class="popup_box_mo popup_box_mo2">
            <h3>예매 및 결제 상세내역</h3>
            <div class="table_mo">
            </div>

            <div class="popup_btn_mo">
                <a class="btn btn-secondary" onclick="javascript:$('header').css('display','block');$('footer').css('display','block');">닫기</a>
            </div>
        </div>
    </div>

    <!--세번째 리스트 popup mo-->
    <!--환불완료-->
    <div id="popup3" class="layer">
        <div class="popup_box_mo">
            <h3>취소 및 환불 상세내역</h3>
            <div class="table_mo">

            </div>

            <div class="popup_btn_mo">
                <a class="btn btn-secondary popup_close" onclick="javascript:$('header').css('display','block');$('footer').css('display','block');">닫기</a>
            </div>
        </div>
    </div>



    <!-- <script src="/js/qrcode.js"></script>S -->
    <script>

        /*agreement 전체동의 체크*/
        $(document).ready(function () {

            $('.check-all').click(function () {
                $('.ab').prop('checked', this.checked);
            });


        });


        $(window).load(function () {
            $('#tab1').addClass('active')
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
        

        function resModal(e) {
            // $('.swiper-wrapper').empty();
            $("#ex_chk5").prop('checked', false);
            if(e.dataset.mob == 'mobile'){
                $('footer').css('display','none');
                $('header').css('display','none');
                $('#top_scroll').css('display','none');
            }
            // $(".cancelRes").empty();
            // $(".table_mo").empty();
            $('.qrcode').empty();
            // if ($(".chk").is(":checked") == false) {
            //     alert("취소 항목을 예매해 주세요.");
            //     return;
            // }

            $('#popup').css('display', 'block')
            //체크된 레이블 보여주기
            var send_array = Array();
            var send_cnt = 0;
            var chkbox = $(".chk");
            for (i = 0; i < chkbox.length; i++) {
                if (chkbox[i].checked == true) {
                    send_array[send_cnt] = chkbox[i].value;
                    send_cnt++
                }
            }
            var sendJson = JSON.stringify(send_array);
            //console.log('sendjson :',sendJson); 

            var seatArr = JSON.parse(sendJson);


            // <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p>
            $.ajax({
                url: "api/user/payCancel",
                method: 'post',
                dataType: 'json',
                data: {
                    'sendArray': seatArr
                },
                success: function (res) {
                    // console.log(res.data);
                    $('.time_info').empty();
                    $('.payment_info').empty();
                    $('#res_seat_list').empty();

                    let top_html = "<div><div class='time_info_date'><dd>"+res.data[0].deptTe2+" ("+getInputDayLabel(res.data[0].deptDay)+")</dd>";
                        top_html += "<dd>"+res.data[0].returnTe2+" ("+getInputDayLabel(res.data[0].retnDay)+")</dd></div></div>";
                        top_html += "<div><div class='time_info_time'><ul><li><dt>평택</dt><dd>"+res.data[0].startTime+"</dd></li>";
                        top_html += "<li><img src='/img/mypage/info_arrow.png'></li><li><dt>동대문</dt><dd>"+res.data[0].returnTime+"</dd></li></ul></div></div>";

                    $('.time_info').append(top_html);

                    let mid_html = "<tr><th>결제일시</th><td>"+res.data[0].payDayYM+' ('+getInputDayLabel(res.data[0].payDayWeek)+') '+res.data[0].payDayTm+"</td></tr>";
                        mid_html += "<tr><th>결제수단</th><td>"+res.data[0].PH_Type+"</td></tr>";
                        mid_html += "<tr><th>결제금액</th><td>"+(res.data[0].CR_Price * res.data.length)+"원</td></tr>";

                    $('.payment_info').append(mid_html);

                    for(let i=0; i<res.data.length; i++){
                        let bot_html = "<li><div class='checks etrans' id=res_seat"+res.data[i].CR_ID+">";
                            bot_html += "<input type='checkbox' onclick='seatCheck(this)' name='seat_chk' id=seat_chk"+res.data[i].CR_ID+" value="+res.data[i].CR_ID+" class='ab' data-uid="+res.data[i].CR_U_ID+" data-pgid="+res.data[i].PH_PG_ID+" data-pgpaytype="+res.data[i].PH_CodeType+">";
                            bot_html += "<label for=seat_chk"+res.data[i].CR_ID+">좌석번호<span>"+res.data[i].CR_SeatNum+"</span></label>";
                            bot_html += "<a onclick='qrcode_full_open(this)' id='qrcode_full_btn' value="+res.data[i].CR_ID+" data-pgid="+res.data[i].CR_QrCode+" data-seatnum="+res.data[i].CR_SeatNum+"><div class='qrcode' id=qrcode"+res.data[i].CR_ID+"></div></a></div>"

                          
                            
                        $('#res_seat_list').append(bot_html);
                          // <a href="#img-id"><div class="qrcode"></div></a>
                        let qr_type = 'default'
                        qrCodeImg(res.data[i].CR_ID,res.data[i].CR_QrCode, qr_type)
                    }

                }
                
            })
        }

        //체크박스 활성화
        function seatCheck(e){

            if($('input:checkbox[name=seat_chk]:checked').length < $("input:checkbox[name=seat_chk]").length){
                $("#ex_chk5").prop('checked', false);
                return false;
            }else if($('input:checkbox[name=seat_chk]:checked').length == $("input:checkbox[name=seat_chk]").length){
                $("#ex_chk5").prop('checked', true);
                return false;
            }
        }
        //qrcode 확대
        function qrcode_full_open(e) {
            $('#qr_seat_sum').empty();

            $('#qr_seat_sum').text(e.dataset.seatnum)
            let cr_id = $('#'+e.id).attr('value');
            let qr_type = 'full'
            qrCodeImg(cr_id, e.dataset.pgid, qr_type)
            if(e.id === 'qrcode_full_btn'){
                $('.ticket_modal').css('display', 'none');
                $('#qrcode_full_modal').css('display', 'block');
            }else{
                $('#qrcode_full_modal').css('display', 'block');
            }
        }

        // qrcode-full
        //QR코드 생성 함수
        function qrCodeImg(qrId,userInfo,type){
            
            $('#qrcode-full').empty();
            let qr_id = qrId;
            let qr_text = userInfo;
            if(type == 'default'){
                let qrcode = new QRCode(document.getElementById('qrcode'+qr_id), 
                {
                    text: qr_text,
                    width: 50,
                    height: 50,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
            }else{
                let qrcode = new QRCode(document.getElementById('qrcode-full'), 
                {
                    text: qr_text,
                    width: 150,
                    height: 150,
                    colorDark : "#000000",
                    colorLight : "#ffffff",
                    correctLevel : QRCode.CorrectLevel.H
                });
            }

            
        }


        // //QR코드 생성 함수 모바일
        // function qrCodeImgMo(qrId,userInfo){
        //     let qr_id = qrId;
        //     let qr_text = userInfo;
        //     let qrcode = new QRCode(document.getElementById('qrcodemo'+qr_id), 
        //         {
        //             text: qr_text,
        //             width: 100,
        //             height: 100,
        //             colorDark : "#000000",
        //             colorLight : "#ffffff",
        //             correctLevel : QRCode.CorrectLevel.H
        //         });
            
        // }

        // function slider(){
        //     new Swiper('.myswiper', {
        //         // 슬라이드 속도 설정
        //         // 지정하지 않을시 기본값은 300
        //         speed : 500,
        //         navigation : { // 네비게이션 설정
        //             nextEl : '.swiper-button-next', // 다음 버튼 클래스명
        //             prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
        //         },
        //     })
        // }

        function cancelInfo(string, codeString) {

            let cancel_data = {}                        //전체 필수 값 !!!!
                cancel_data.mid = 'testpay01m',         //이노페이에서 발급한 상점아이디
                cancel_data.tid = string,               //거래고유번호
                cancel_data.svcCd = `${codeString}`,    //취소 결과 코드 ex) 신용카드 : 01, 계좌이체 : 02, 간편결제 : 16
                cancel_data.partialCancelCode = '0',    //전체취소 : 0, 부분취소 : 1  (부분취소 사용 가능 가맹점만 사용 가능)
                cancel_data.cancelAmt = '700',          //취소 금액
                cancel_data.cancelMsg = '환불테스트',   //취소사유
                cancel_data.cancelPwd = '123456'        //취소비밀번호                                
                
            return JSON.stringify(cancel_data);

        }

        // 예매 취소
        function resCancel(e) {
            // console.log('데이터 :', e.dataset.pgid);
            if($('input:checkbox[name=seat_chk]:checked').length == 0){
                alert('취소할 좌석을 선택해 주세요.')
                return false;
            }
            var checkBoxArr = [];
            let chk_pg_id; //PG사 결제 고유 아이디
            let chk_u_id; // 결제 회원 아이디
            let chk_pg_pay_type; // 결제 취소 코드
            $("input[name=seat_chk]:checked").each(function(i){
                checkBoxArr.push($(this).val());
                let chk_id = this.id;
                chk_pg_id = $('#'+chk_id).data('pgid');
                chk_u_id = $('#'+chk_id).data('uid');
                chk_pg_pay_type = $('#'+chk_id).data('pgpaytype');
                
                
            });

            // console.log('check?',checkBoxArr);
            // console.log('data',chk_pg_id);
            // console.log('daaaa',chk_u_id);


            $.ajax({
                url: "api/user/cancelRes",
                method: 'post',
                dataType: 'json',
                async: false,
                data: { 'cr_id': checkBoxArr, 'u_id' : chk_u_id},
                success: function (res) {
                    $('#popup').css('display','none');
                    $('.swal-icon--success__ring').css('display','none');
                    let link = document.createElement('div')
                        link.innerHTML = "<a href='/'>환불규정 보기</a>"
                    if (res.data == 0) {
                        swal({
                            title: '취소 실패',
                            text: '출발일 기준 3일 내 예매취소가 불가능합니다. \n',
                            content: link,
                            icon: 'error',
                            button: '환불규정 보기',
                            button: '확인'
                        }).then((value)=>{
                            location.href='mypage';
                        })
                    } else if(res.data == 200){

                        swal({
                            title: '취소 실패',
                            text: '승차하신 좌석은 취소가 불가능 합니다.',
                            icon: 'error',
                            button: '확인'
                        }).then((value)=>{
                            location.href='mypage';
                        })

                    }else if(res.data == 200){

                        swal({
                            title: '취소 실패',
                            text: '승차하신 좌석은 취소가 불가능 합니다.',
                            icon: 'error',
                            button: '확인'
                        }).then((value)=>{
                            location.href='mypage';
                        })

                    }else if(res.data == 201){

                        swal({
                            title: '취소 실패',
                            text: '출발한 버스는 예매 취소가 불가능 합니다.',
                            icon: 'error',
                            button: '확인'
                        }).then((value)=>{
                            location.href='mypage';
                        })

                        }
                    else {
                        // console.log('취소 요청값 :', cancelInfo(chk_pg_id,chk_pg_pay_type));
                        $.ajax({
                            type : "POST",
                            url : "https://api.innopay.co.kr/api/cancelApi",
                            async : true,
                            data : cancelInfo(chk_pg_id,chk_pg_pay_type),
                            contentType: "application/json; charset=utf-8",
                            dataType : "json",
                            success : function(data){
                                console.log('취소결과',data);
                                
                                swal({
                                    title: '예매취소 완료',
                                    text: res.seats+' 좌석이 취소완료되었습니다. \n 환불금액 : '+res.cancelPay +'원',
                                    icon: 'success',
                                    button: '확인'
                                }).then((value)=>{
                                    location.href='mypage';
                                })

                            },
                            error : function(data){
                                // console.log(data);   
                                alert("취소 오류 고객센터에 문의해 주세요.");
                            }
                        });

                    }
                }
            })
        }

        //요일 계산 함수
        function getInputDayLabel(date) {
            var week = new Array('일', '월', '화', '수', '목', '금', '토');
            var todayLabel = week[date-1];
            return todayLabel;
        }


        //현 장차예매 현황 체크박스 지우기
        $("#tab1").on('click', function () {
            $('.chkbox2').removeClass('on')
            $("input[type=radio]").prop("checked", false);
        })

        //결제리스트
        $("#tab2").on('click', function () {
            $('.chkbox2').removeClass('on');
            $('input[type=radio]').prop('checked', false);
            //달력 val 지우기
            $("#deptDay").val('')
            $("#endDay").val('')
            $("#payList").empty();
            $.ajax({
                url: "api/user/resPay",
                method: "post",
                dataType: "json",
                success: function (res) {
                    //PC리스트
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);
                        // let seatList = decodeURIComponent(seatNum).join('번');
                        // console.log('seatList',seatNum);
                        // console.log('sease',decodeURIComponent(seatNum));
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        // html += "<td>"+res.data[i].carName+"\n"+res.data[i].carNum+"</td>";
                        html += "<td>" + res.data[i].carName + "</td>";
                        html += "<td>" + seatNum+ "</td>";
                        html += "<td>" + (res.data[i].payType || "-") + "</td>";
                        html += "<td>" + (res.data[i].price || 0) + "</td>";
                        html += "</tr>";
                        $("#payList").append(html);
                    }
                }
            });
        });

        //결제리스트 모바일
        $("#tab_mo2").on('click', function () {
            $('.chkbox2').removeClass('on')
            //달력 val 지우기
            $("#deptDay").val('')
            $("#endDay").val('')
            //재 클릭시 테이블 비우기
            $(".list02_mo").empty();
            $.ajax({
                url: "api/user/resPayMo",
                method: "post",
                dataType: "json",
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<div class='list02_mo_list' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html += "<a class='popup_open2'>";
                        html += "<ul class='testcode' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">" + res.data[i].deptTe + "</li>";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">평택 - 서울동대문</li>";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + "><img src='/img/common/reserve_bar_arrow.png'></li>";
                        html += "</ul></a>";
                        html += "</div>";
                        $(".list02_mo").append(html);
                    }
                }
            });
        });

        //결제리스트 날짜 조회 @@@@@@@
        function payBetween() {
            if ($('#deptDay').val() == '' && $('#endDay').val() == '') {
                return false;

            }
            $('#payList').empty();
            $(".list02_mo").empty();
            $.ajax({
                url: "api/user/resPayBetween",
                method: "post",
                dataType: "json",
                data: {
                    'deptDay': $("#deptDay").val(),
                    'endDay': $("#endDay").val()
                },
                success: function (res) {
                    console.log('resData ::::', res.data[0].seatNumMo.data);
                    
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        // html += "<td>"+res.data[i].carName+"\n"+res.data[i].carNum+"</td>";
                        html += "<td>" + res.data[i].carName + "</td>";
                        html += "<td>" + seatNum + "</td>";
                        html += "<td>" + (res.data[i].payType || "-") + "</td>";
                        html += "<td>" + (res.data[i].price || 0) + "</td>";
                        html += "</tr>";
                        $("#payList").append(html);
                    }
                    //모바일 부분 @@@@@@@@@@@@@@@@@@@@@@@@@
                    for (let i = 0; i < res.data.length; i++) {
                        let html2 = "<div class='list02_mo_list' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html2 += "<a class='popup_open2'>";
                        html2 += "<ul>";
                        html2 += "<li class='text' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">" + res.data[i].deptTe + "</li>";
                        html2 += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + "><img src='/img/common/reserve_bar_arrow.png'></li>";
                        html2 += "</ul></a>";
                        html2 += "</div>";
                        $(".list02_mo").append(html2);
                    }
                }
            })
        }


        //모바일 결제내역 상세보기
        $(document).on('click', '.list02_mo_list', function (e) {
            $('#popup2').css('display', 'block');
            $('header').css('display','none')
            $('footer').css('display','none');
            let ctId = e.target.id;
            let phId = e.target.value;
            //console.log(ctId)
            //console.log(phId)
            $.ajax({
                url: "api/user/resPayDetailMo",
                method: "post",
                dataType: "json",
                data: {
                    'ctId': ctId,
                    'phId': phId
                },
                success: function (res) {
                    $('.table_mo').empty();
                    // location.href = "#popup2"
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);
                        let html = "<table class='detail_table'>";
                        //html += "<dt>예매번호</dt><dd>xxxxxxxxx</dd>";
                        html += "<tr><th>결제일시</th><td>" + res.data[i].PayDay +' ('+getInputDayLabel(res.data[i].payWeek)+")</td></tr>";
                        html += "<tr><th>예매정보</th><td>" + res.data[i].deptYM +' ('+getInputDayLabel(res.data[i].deptWeek)+') '+res.data[i].deptTM+ '\n' + "" + res.data[i].carName + "<br><span>(평택 - 동대문)</span></td></tr>";
                        html += "<tr><th>좌석번호</th><td>" + seatNum + "</td></tr>";
                        html += "<tr><th>결제수단</th><td>" + res.data[i].payType + "</td><tr>";
                        html += "<tr><th>결제금액</th><td>" + res.data[i].price + "</td></tr></table>";
                        $('.table_mo').append(html);
                    }
                }
            })
        })



        //@@@@@PC 취소 및 환불 리스트
        $("#tab3").on('click', function () {
            $('.chkbox2').removeClass('on')
            
            //달력 val 지우기
            $("#cancelDeptDay").val('')
            $("#cancelEndDay").val('')
            $("#cancelList").empty();
            $.ajax({
                url: "api/user/resCancelList",
                method: "get",
                dataType: "json",
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        html += "<td>" + res.data[i].cancelDay + "</td>";
                        html += "<td>" + seatNum+ "</td>";
                        html += "<td>" + res.data[i].payType + "</td>";
                        html += "<td>" + res.data[i].price + "</td>";
                        html += "</tr>";
                        $("#cancelList").append(html);
                    }
                }
            });
        });

        //모바일 취소 및 환불 리스트
        $("#tab_mo3").on('click', function () {
            $('.chkbox2').removeClass('on')
            
            //달력 val 지우기
            $("#cancelDeptDay").val('')
            $("#cancelEndDay").val('')
            $(".list03_mo").empty();
            $.ajax({
                url: "api/user/resCancelListMo",
                method: "post",
                dataType: "json",
                success: function (res) {
                    //console.log("모바일 취소 리스트 :", res.data);
                    for (let k = 0; k < res.data.length; k++) {
                        let html2 = "<div class='list03_mo_list' id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">";
                        html2 += "<a class='popup_open3'>";
                        html2 += "<ul>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">" + res.data[k].deptTe + "</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + "><img src='/img/common/reserve_bar_arrow.png'></li>";
                        html2 += "</ul></a></div>";
                        $(".list03_mo").append(html2);
                    }
                }
            });
        });
        //PC 취소 및 환불 리스트 일시 검색
        function cancelBetween() {
            if ($('#cancelDeptDay').val() == '' && $('#cancelEndDay').val() == '') {
                return false;
            }
            $("#cancelList").empty();
            $(".list03_mo").empty();
            $.ajax({
                url: 'api/user/resCancelListBetween',
                method: 'post',
                dataType: 'json',
                data: {
                    'cancelDeptDay': $("#cancelDeptDay").val(),
                    'cancelEndDay': $("#cancelEndDay").val()
                },
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        html += "<td>" + res.data[i].cancelDay + "</td>";
                        html += "<td>" + seatNum + "</td>";
                        html += "<td>" + res.data[i].payType + "</td>";
                        html += "<td>" + res.data[i].price + "</td>";
                        html += "</tr>";
                        $("#cancelList").append(html);
                    }
                    ///모바일 부분@@@@@@@@@@@@@@@@@@@@@@@@@
                    for (let k = 0; k < res.data.length; k++) {
                        let html2 = "<div class='list03_mo_list' id=" + res.data[k].ctId + " val=" + res.data[k].phId + ">";
                        html2 += "<a class='popup_open3'>";
                        html2 += "<ul>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">" + res.data[k].deptTe + "</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + "><i class='fas fa-chevron-right'></i></li>";
                        html2 += "</ul></a></div>";
                        $(".list03_mo").append(html2);
                    }
                }
            })
        }


        //모바일 취소 환불 내역 상세보기
        $(document).on('click', '.list03_mo_list', function (e) {
            $('#popup3').css('display', 'block');
            $('header').css('display','none')
            $('footer').css('display','none');
            $('.layer').css('background', 'rgba(0,0,0, 0.5)');
            $.ajax({
                url: "api/user/resCancelDetailMo",
                method: "post",
                dataType: "json",
                data: {
                    'ctId': e.target.id,
                    'phId': e.target.value
                },
                success: function (res) {
                    // console.log("여기데이터 :", res.data);
                    $('.table_mo').empty();
                    // location.href = "#popup3"
                    for (let i = 0; i < res.data.length; i++) {
                        let origin_seat = res.data[i].seatNumMo.data
                        var seatNum = String.fromCharCode.apply(null, origin_seat);

                        let html = "<table class='detail_table'>";
                        //html += "<dt>예매번호</dt><dd>xxxxxxxxx</dd>";
                        html += "<tr><th>결제일시</th><td>" + res.data[i].PayDay +' ('+getInputDayLabel(res.data[i].payWeek)+")</td></tr>";
                        html += "<tr><th>예매정보</th><td>" + res.data[i].deptYM +' ('+getInputDayLabel(res.data[i].deptWeek)+') '+res.data[i].deptTM+ '\n' + "" + res.data[i].carName + "<br><span>(평택 - 동대문)</span></td></tr>";
                        html += "<tr><th>좌석번호</th><td>" + seatNum + "</td></tr>";
                        html += "<tr><th>취소일시</th><td>" + res.data[i].cancelDay + "</td></tr>"
                        html += "<tr><th>결제수단</th><td>" + res.data[i].payType + "</td></tr>";
                        html += "<tr><th>환불금액</th><td>" + res.data[i].price + "</td></tr></table>";
                        $('.table_mo').append(html);
                    }
                }
            })
        })

        $('.popup_close').on('click', function () {
            $('#popup2').css('display', 'none');
            $('#popup3').css('display', 'none');
            $('.layer').css('background', '');
        })



    </script>

    <script>
        function openList(evt, reserve_list) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(reserve_list).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>

    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("reserve_list");
        var btns = header.getElementsByClassName("reserve_bar, reserve_bar_mo");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
            });
        }
    </script>


    <script>
        $(document).ready(function () {

            //datepicker 한국어로 사용하기 위한 언어설정
            $.datepicker.setDefaults($.datepicker.regional['ko']);

            // Datepicker
            $(".datepicker").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                nextText: ">",
                prevText: "<",
                maxDate: "today",
                onClose: function (selectedDate) {

                    var eleId = $(this).attr("id");
                    var optionName = "";

                    if (eleId.indexOf("StartDate") > 0) {
                        eleId = eleId.replace("StartDate", "EndDate");
                        optionName = "minDate";
                    } else {
                        eleId = eleId.replace("EndDate", "StartDate");
                        optionName = "maxDate";
                    }

                    $("#" + eleId).datepicker("option", optionName, selectedDate);
                    $(".searchDate").find(".chkbox").removeClass("on");
                }
            });

            //시작일.
            /*$('#searchStartDate').datepicker("option","onClose", function( selectedDate ) {
                // 시작일 datepicker가 닫힐때
                // 종료일의 예매할수있는 최소 일시(minDate)를 예매한 시작일로 지정
                $("#searchEndDate").datepicker( "option", "minDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });
            */

            //종료일.
            /*$('.searchEndDate').datepicker("option","onClose", function( selectedDate ) {
                // 종료일 datepicker가 닫힐때
                // 시작일의 예매할수있는 최대 일시(maxDate)를 예매한 종료일로 지정
                $(".searchStartDate").datepicker( "option", "maxDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });*/


            $(".dateclick").dateclick(); // DateClick
            $(".searchDate").schDate(); // searchDate

        });

        // Search Date
        jQuery.fn.schDate = function () {
            var $obj = $(this);
            var $chk = $obj.find("input[type=radio]");
            $chk.click(function () {
                $('input:not(:checked)').parent(".chkbox").removeClass("on");
                $('input:checked').parent(".chkbox").addClass("on");
            });
        };

        // DateClick
        jQuery.fn.dateclick = function () {
            var $obj = $(this);
            $obj.click(function () {
                $(this).parent().find("input").focus();
                
            });
        }


        function setSearchDate(start) {

            var num = start.substring(0, 1);
            var str = start.substring(1, 2);

            var today = new Date();

            //var year = today.getFullYear();
            //var month = today.getMonth() + 1;
            //var day = today.getDate();

            var endDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('.searchEndDate').val(endDate);   

            if (str == 'd') {
                today.setDate(today.getDate() - num);
            } else if (str == 'w') {
                today.setDate(today.getDate() - (num * 7));
            } else if (str == 'm') {
                today.setMonth(today.getMonth() - num);
                today.setDate(today.getDate() + 1);
            }

            var startDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('.searchStartDate').val(startDate);

            // 종료일은 시작일 이전 일시 예매하지 못하도록 비활성화
            $(".searchEndDate").datepicker("option", "minDate", startDate);

            // 시작일은 종료일 이후 일시 예매하지 못하도록 비활성화
            $(".searchStartDate").datepicker("option", "maxDate", endDate);


            /*$('#searchEndDate').datepicker({
                dateFormat: "yy-mm-dd", // 일시의 형식
                nextText: ">",
                prevText: "<"
            });screen
            });*/

        }


    </script>






</body>

</html>