<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="/css/common_box.css">
    <link rel="stylesheet" href="/css/mypage.css">

    <title>AZ369 - 마이페이지</title>

    <!--문자인코딩-->
    <meta name="title" content="AZ369 - 마이페이지">
    <meta name="author" content="AZ369">
    <meta name="description" content="안녕하세요. 보세의류 전문 쇼핑몰 AZ369입니다. 저희 AZ369는 평택 가로수길 센트럴돔과 함께합니다.">
    <meta name="keywords"
        content="센트럴돔, 보세의류, 쇼핑몰, 보세의류 쇼핑몰, 평택, 평택 가로수길, 평택 센트럴돔, 소사벌, 비전동, 장차, 입점신청, 입점, az369, AZ369">
    <meta property="og:image" content="http://az369.com/img/main/main_slide01.png" />
    <!-- 인풋 클릭시 포커스 금지 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

    <!--datepicker 링크-->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <script src="js/jquery-ui.js"></script>
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- datepicker 한국어로 -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>

    <!-- QR코드 -->
    <script src="/js/qrcode.js"></script>

   <!-- sweet alert -->
   <script src="/js/swal.js"></script>
   <link rel="stylesheet" href="/css/swal.css">
   <!-- <script src="https://unpkg.com/sweetalert2@latest/dist/sweetalert2.all.js"></script> -->
   <!-- <link rel="stylesheet" href="/css/swal.css"> -->

   <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script> -->

   <script src="/js/alert.js"></script>
   <link rel="stylesheet" href="/css/alert.css">

</head>

<body>
    <div class="wrap">

        <% include templates/header.ejs %>


        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <div class="box">
                    <h6>마이페이지</h6>
                    <h1 style="font-family: 'PT Serif', serif;">MYPAGE</h1>
                    <div class="bar"></div>

                    <!--마이페이지 전체 틀-->
                    <div class="mypage_box">
                        <ul>
                            <!--마이페이지 왼쪽-->
                            <li class="box_01">
                                <div class="mypage_left">
                                    <div class="info_title">
                                        <h2><%= sessionUser.U_Name %>님 <br>
                                            <span>(<%= sessionUser.U_uId %>)</span></h2>
                                        <div class="modify_btn">
                                            <a href="modify">
                                                수정
                                            </a>
                                        </div>
                                        <div class="modify_btn_mo">
                                            <a href="modify">
                                               <u>내정보 수정</u>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <!-- <h5><%= sessionUser.U_Name %>님
                                            <span>(<%= sessionUser.U_uId %>)</span></h5> -->


                                        <p>
                                            <%= sessionUser.U_Brand %>
                                            <br>
                                            <%= sessionUser.U_Email %>
                                            <br>
                                            <%= sessionUser.U_Phone %>
                                        </p>
                                    </div>

                                    <div class="mypage_nav">
                                        <button class="tablinks" id="tab1" onclick="openList(event, '01')"
                                            id="defaultOpen"> 현 장차예매 현황 <span><img src="/img/common/right_arrow_g.png"
                                                    alt=""></span></button>

                                        <button class="tablinks" id="tab2" onclick="openList(event, '02')"> 예매 및 결제내역
                                            <span><img src="/img/common/right_arrow_g.png" alt=""></span></button>

                                        <button class="tablinks" id="tab3" onclick="openList(event, '03')"> 취소 및 환불조회
                                            <span><img src="/img/common/right_arrow_g.png" alt=""></span></button>
                                    </div>
                                    <div class="logout btn btn-secondary"><a href="login">로그아웃</a></div>
                                </div>

                                <!--왼쪽 목록버튼-->
                                <div class="mypage_nav_mo">
                                    <button class="tablinks" onclick="openList(event, '01')" id="defaultOpen">
                                        <p>장차예매현황</p>
                                    </button>

                                    <button class="tablinks" id="tab_mo2" onclick="openList(event, '02')">
                                        <p>예매결제내역</p>
                                    </button>

                                    <button class="tablinks" id="tab_mo3" onclick="openList(event, '03')">
                                        <p>취소환불조회</p>
                                    </button>
                                </div>
                            </li>


                            <!--오른쪽박스-->
                            <li class="box_02">
                                <div class="mypage_right">

                                    <!--첫번째 리스트 PC-->
                                    <div id="01" class="tabcontent">
                                        <h4>장차예매현황</h4>
                                        <p>현재 예매중인 장차내역입니다.</p>

                                        <div class="reserve_list_tit">
                                            <ul>
                                                <li>출발날짜</li>
                                                <li>운행지역</li>
                                                <li>차량정보</li>
                                                <li>선택좌석</li>
                                            </ul>
                                        </div>
                                        <div id="reserve_list" class="scroll_style">
                                            
                                            <div class="reserve_bar_list">
                                            <% for(let i=0; i<data.length; i++){ %>
                                            <label>
                                                <input type="radio" class='chk' value='<%=data[i].payDay%>' name="day[]"
                                                    onclick="resModal(this)">
                                                <span class="reserve_bar">
                                                    <ul>
                                                        <li><%=data[i].deptTe%></li>
                                                        <li> 평택 - 서울 동대문</li>
                                                        <!-- <li><%=data[i].carName%> / <%=data[i].carNum%></li> -->
                                                        <li><%=data[i].carName%></li>
                                                        <li><%=data[i].seatNumMo%></li>
                                                    </ul>
                                                </span>
                                            </label>
                                            
                                            <% } %>
                                        </div>
                                            <!--첫번째 리스트 mo 768px-->
                                            

                                            <div class="reserve_bar_mo_list">
                                                <% for(let i=0; i<data.length; i++){ %>
                                                <label>
                                                    <input type="radio" class='chk' value='<%=data[i].payDay%>' name="day[]"
                                                     onclick="resModal(this)" data-mob='mobile'>
                                                    <span class="reserve_bar_mo">
                                                        <ul>
                                                            <li>
                                                                <%=data[i].deptTe2%>
                                                                <h6><%=data[i].deptTe3%></h6>
                                                            </li>
                                                            <li>
                                                                평택 - 서울동대문
                                                                <h6><%=data[i].carName%></h6>
                                                            </li>
                                                            <li>
                                                                선택좌석
                                                                <h6><%=data[i].seatNum%></h6>
                                                            </li>
                                                            <li><i class="fas fa-chevron-right"></i></li>
                                                        </ul>
                                                    </span>
                                                </label>
                                                <% } %>
                                            </div>
                                            

                                        </div>

                                        <!-- <p class="cancel_info">취소할 예매 목록을 선택하시고 하단의 버튼을 누르시면 예매를 취소하실 수 있습니다.</p> -->

                                        <!-- <a class="popup_open" onclick="cancelBtn()">선택예매취소</a> -->

                                        <div id="popup" class="layer">
                                            <!-- 예매취소 후 리스트 @@@@@@@@@@@@@@@@@@@@@@@@@@@222 -->
                                            <!--popup PC-->
                                            <div class="popup_box">
                                                <h2>예매상세내역 (승차권)</h2>
                                                <div class="qr_info">
                                                    <div id='qrcode' class='qrcode'></div>
                                                    <div class="qr_txt">  <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권으로 장차 탑승이 가능합니다.</p> </div>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <!-- <th>예약번호</th> -->
                                                        <th>결제날짜</th>
                                                        <th>예약정보</th>
                                                        <th>좌석개수</th>
                                                        <th>결제수단</th>
                                                        <th>결제금액</th>
                                                    </thead>
                                                    <tbody class="cancelRes">
                                                    </tbody>
                                                </table>

                                                <p><span style="color: red;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>선택한
                                                    예매를 취소하겠습니까?</p>
                                                <div class="popup_btn">
                                                    <ul>
                                                        <li>
                                                            <a onclick="javascript:$('#popup').css('display','none')"
                                                                class="btn btn-secondary popup_close1">닫기</a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="btn btn-primary" onclick="resCancel()">예매취소</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>


                                            <!--popup mo 768px-->
                                            <div class="popup_box_mo">
                                                <h2>예매상세내역 (승차권)</h2>
                                                <div class="qr_info">
                                                    <div id='qrcode_mobile' class='qrcode'></div>
                                                    <p>장차예매 이용자임을 확인하기 위한 QR코드입니다. <br>QR코드가 있는 승차권을 보여드리면 장차 탑승이 가능합니다.</p>
                                                </div>
                                                <div class="table_mo">
                                                </div>
                                                <p><span style="color: red;">출발일 3일전 ~ 당일은 환불이 불가능합니다.</span> <br>선택한
                                                    예매를 취소하겠습니까?</p>

                                                <div class="popup_btn_mo">
                                                    <ul>
                                                        <li>
                                                            <a onclick="javascript:$('#popup').css('display','none'); $('header').css('display','block')" class=" btn btn-secondary">닫기</a>
                                                        </li>

                                                        <li>
                                                            <a class="btn btn-primary"onclick="resCancel()">예매취소</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 -->
                                    <div id="02" class="tabcontent">

                                        <div class="tab_tit">
                                            <h4>장차예매 및 결제내역</h4>
                                            <p>오늘날짜기준 최대 6개월까지만 조회가 가능합니다. </p>
                                        </div>
                                        <!-- search -->
                                        <div class="searchBox">
                                            <div class="searchDate">
                                                <ul>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType1"
                                                                onclick="setSearchDate('0d')" />
                                                            <label for="dateType1">당일</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType2"
                                                                onclick="setSearchDate('1w')" />
                                                            <label for="dateType2">1주</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType3"
                                                                onclick="setSearchDate('1m')" />
                                                            <label for="dateType3">1개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType4"
                                                                onclick="setSearchDate('3m')" />
                                                            <label for="dateType4">3개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType5"
                                                                onclick="setSearchDate('6m')" />
                                                            <label for="dateType5">6개월</label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix">
                                                <ul>
                                                    <li>
                                                        <!-- 시작일 -->
                                                        <span class="dset">
                                                            <input type="text" id="deptDay"
                                                                class="datepicker inpType searchStartDate"
                                                                name="searchStartDate" readonly>
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <span class="demi">~</span>
                                                    </li>

                                                    <li>
                                                        <!-- 종료일 -->
                                                        <span class="dset">
                                                            <input type="text" id="endDay"
                                                                class="datepicker inpType searchEndDate"
                                                                name="searchEndDate" readonly>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <button class="search_btn" onclick="payBetween()">날짜조회</button>
                                            </div>
                                        </div>

                                        <!--두번째 리스트 PC-->
                                        <div class="list02 scroll_style">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>결제일시</th>
                                                        <th>출발날짜</th>
                                                        <th>차량정보</th>
                                                        <th>좌석개수</th>
                                                        <th>결제수단</th>
                                                        <th>결제금액</th>
                                                    </tr>
                                                </thead>
                                                <tbody id='payList'>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--두번째 리스트 mo 414px-->

                                        <div class="list02_mo scroll_style">

                                        </div>

                                        <!--두번째 리스트 popup mo-->
                                        <div id="popup2" class="layer">
                                            <div class="popup_box_mo popup_box_mo2">
                                                <h2>예매 및 결제 상세내역</h2>
                                                <div class="table_mo">
                                                </div>

                                                <div class="popup_btn_mo">
                                                    <a class="btn btn-secondary popup_close1" onclick="javascript:$('header').css('display','block')">닫기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--환불조회 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@22 -->
                                    <div id="03" class="tabcontent">
                                        <div class="tab_tit">
                                            <h4>취소 및 환불조회</h4>
                                            <p> 오늘날짜기준 최대 6개월까지만 조회가 가능합니다. </p>
                                        </div>

                                        <!-- search -->

                                        <div class="searchBox">
                                            <div class="searchDate">
                                                <ul>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType10"
                                                                onclick="setSearchDate('0d')" />
                                                            <label for="dateType10">당일</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType11"
                                                                onclick="setSearchDate('1w')" />
                                                            <label for="dateType11">1주</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType12"
                                                                onclick="setSearchDate('1m')" />
                                                            <label for="dateType12">1개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType14"
                                                                onclick="setSearchDate('3m')" />
                                                            <label for="dateType14">3개월</label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="chkbox2 chkbox">
                                                            <input type="radio" name="dateType" id="dateType15"
                                                                onclick="setSearchDate('6m')" />
                                                            <label for="dateType15">6개월</label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="clearfix">
                                                <ul>
                                                    <li>
                                                        <!-- 시작일 -->
                                                        <span class="dset">
                                                            <input type="text" id="cancelDeptDay"
                                                                class="datepicker inpType searchStartDate"
                                                                name="searchStartDate" readonly>
                                                        </span>
                                                    </li>

                                                    <li>
                                                        <span class="demi">~</span>
                                                    </li>

                                                    <li>
                                                        <!-- 종료일 -->
                                                        <span class="dset">
                                                            <input type="text" id="cancelEndDay"
                                                                class="datepicker inpType searchEndDate"
                                                                name="searchEndDate" readonly>
                                                        </span>
                                                    </li>
                                                </ul>
                                                <button class="search_btn" onclick="cancelBetween()">날짜조회</button>
                                            </div>
                                        </div>


                                        <div class="list03 scroll_style">
                                            <table class="table">
                                                <tr>
                                                    <th>결제일시</th>
                                                    <th>출발날짜</th>
                                                    <th>취소날짜</th>
                                                    <th>좌석개수</th>
                                                    <th>결제수단</th>
                                                    <th>환불금액</th>
                                                </tr>
                                                <tbody id="cancelList">
                                                </tbody>
                                            </table>
                                        </div>

                                        <!--세번째 리스트 mo 414px-->
                                        <div class="list03_mo scroll_style">
                                        </div>

                                        <!--세번째 리스트 popup mo-->
                                        <!--환불완료-->
                                        <div id="popup3" class="layer">
                                            <div class="popup_box_mo">
                                                <h2>취소 및 환불 상세내역</h2>
                                                <div class="table_mo">

                                                </div>

                                                <div class="popup_btn_mo">
                                                    <a class="btn btn-secondary popup_close1" onclick="javascript:$('header').css('display','block')">닫기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--768부터적용-->
                                <div class="logout_mo"><a href="logout">로그아웃</a></div>


                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </section>

        <script src="/js/qrcode.js"></script>
        <script>

            $(window).load(function () {
                $('#tab1').addClass('active')
                $(".trigger_popup_fricc").click(function () {
                    $('.hover_bkgr_fricc').show();
                });
                $('.hover_bkgr_fricc').click(function () {
                    $('.hover_bkgr_fricc').hide();
                });
                $('.popupCloseButton').click(function () {
                    $('.hover_bkgr_fricc').hide();
                });
            });
        </script>

        <!--//secton.about 완료-->


        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
    </div>
    <script>
        var trVal = Array();
        var tdVal = Array();

        function resModal(e) {
            if(e.dataset.mob == 'mobile'){
                $('header').css('display','none')
            }
            $(".cancelRes").empty();
            $(".table_mo").empty();
            $('.qrcode').empty();
            // if ($(".chk").is(":checked") == false) {
            //     alert("취소 항목을 선택해 주세요.");
            //     return;
            // }

            $('#popup').css('display', 'block')
            //체크된 레이블 보여주기
            var send_array = Array();
            var send_cnt = 0;
            var chkbox = $(".chk");
            for (i = 0; i < chkbox.length; i++) {
                if (chkbox[i].checked == true) {
                    send_array[send_cnt] = chkbox[i].value;
                    send_cnt++
                }
            }
            var sendJson = JSON.stringify(send_array);
            //console.log('sendjson :',sendJson); 

            var seatArr = JSON.parse(sendJson);

            let qr_info = {};

            $.ajax({
                url: "api/user/payCancel",
                method: 'post',
                dataType: 'json',
                data: {
                    'sendArray': seatArr
                },
                success: function (res) {
                    //07.30. 평택 22:00 - 서울동대문 04:00 유림고속(1213)
                    //PC 예매취소 리스트
                    console.log('res:',res);
                    qr_info.cr_id = res.data[0].CR_ID;
                    qr_info.u_id = res.session_user;
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<tr val=" + res.data[i].pId + ">";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td> " + res.data[i].startDay +"<span> 평택 </span>" + res.data[i].startTime +"<span> - 서울 </span>"+ res.data[i].returnTime +"&nbsp;" +res.data[i].carName+"<span>("+res.data[i].carNum+")</span>"+"</td>";
                        html += "<td>" + res.data[i].seatCnt + "</td>";
                        html += "<td>" + res.data[i].payType + "</td>";
                        html += "<td>" + res.data[i].price + "</td>";
                        html += "</tr>";
                        $(".cancelRes").append(html);
                        trVal[i] = res.data[i].pId;
                        tdVal[i] = res.data[i].ctId;
                    }

                    //모바일 예매취소 리스트
                    //console.log("여기 리스트",res.data);
                    // for (let k = 0; k < res.data.length; k++) {
                    //     let html = "<dl>";
                    //     //html += "<dt>예약번호</dt><dd>xxxxxxxxxxx</dd>";
                    //     html += "<dt>결제날짜</dt><dd>" + res.data[k].PayDay + "</dd>";
                    //     html += "<dt>예약정보</dt><dd>" + res.data[k].deptTe + "\n" + res.data[k].carName + "<span> (평택 - 서울 동대문)</span></dd>";
                    //     html += "<dt>좌석개수</dt><dd>" + res.data[k].seatCnt + "</dd>";
                    //     html += "<dt>결제수단</dt><dd>" + res.data[k].payType + "</dd>";
                    //     html += "<dt>결제금액</dt><dd>" + res.data[k].price + "</dd></dl>";
                    //     $(".table_mo").append(html);
                    //     trVal[k] = res.data[k].pId;
                    //     tdVal[k] = res.data[k].ctId;
                    // }
                    for (let k = 0; k < res.data.length; k++) {
                        let html = "<table class='detail_table'>";
                        //html += "<dt>예약번호</dt><dd>xxxxxxxxxxx</dd>";
                        html += "<tr><th>결제날짜</th><td>" + res.data[k].PayDay + "</td></tr>";
                        html += "<tr><th>예약정보</th><td>" + res.data[k].deptTe + "\n" + res.data[k].carName + "<span> <br> (평택 - 서울 동대문)</span></td></tr>";
                        html += "<tr><th>좌석개수</th><td>" + res.data[k].seatCnt + "</td></tr>";
                        html += "<tr><th>결제수단</th><td>" + res.data[k].payType + "</td></tr>";
                        html += "<tr><th>결제금액</th><td>" + res.data[k].price + "</td></tr></table>";
                        $(".table_mo").append(html);
                        trVal[k] = res.data[k].pId;
                        tdVal[k] = res.data[k].ctId;
                    }
                    qrCodeImg(qr_info)
                }
                
            })
            
            // debugger;
            


        }

        //QR코드 생성 함수
        function qrCodeImg(userInfo){
            let qr_text = '{cr_id:'+` ${userInfo.cr_id}`+', u_id: '+`${userInfo.u_id}`+'}';
            let $qrcode = $('#qrcode');
            let $qrcode_mobile = $('#qrcode_mobile');
            if($('.popup_box_mo').css('display') == 'block'){
                var qrcode = new QRCode(document.getElementById('qrcode_mobile'), 
                    {
                        text: qr_text,
                        width: 90,
                        height: 90,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.H
                    });
            }else{
                var qrcode = new QRCode(document.getElementById('qrcode'), 
                    {
                        text: qr_text,
                        width: 80,
                        height: 80,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.H
                    });
            }
        }

        // //선택예매취소 클릭 후 리스트 보여주기
        // function cancelBtn() {
        //     console.log('good');
        //     $(".cancelRes").empty();
        //     $(".table_mo").empty();
        //     if ($(".chk").is(":checked") == false) {
        //         alert("취소 항목을 선택해 주세요.");
        //         return;
        //     }
        //     location.href = "#popup";

        //     //체크된 레이블 보여주기
        //     var send_array = Array();
        //     var send_cnt = 0;
        //     var chkbox = $(".chk");
        //     for (i = 0; i < chkbox.length; i++) {
        //         if (chkbox[i].checked == true) {
        //             send_array[send_cnt] = chkbox[i].value;
        //             send_cnt++
        //         }
        //     }
        //     var sendJson = JSON.stringify(send_array);
        //     //console.log('sendjson :',sendJson); 

        //     var seatArr = JSON.parse(sendJson);
        //     console.log('seatArr :', seatArr);
        //     $.ajax({
        //         url: "api/user/payCancel",
        //         method: 'post',
        //         dataType: 'json',
        //         data: {
        //             'sendArray': seatArr
        //         },
        //         success: function (res) {
        //             // console.log(res);
        //             //PC 예매취소 리스트
        //             for (let i = 0; i < res.data.length; i++) {
        //                 let html = "<tr val=" + res.data[i].pId + ">";
        //                 html += "<td>" + res.data[i].PayDay + "</td>";
        //                 html += "<td>" + res.data[i].deptTe + res.data[i].carName + "<br><span>(평택 > 서울 동대문)</span></td>";
        //                 html += "<td>" + res.data[i].seatCnt + "</td>";
        //                 html += "<td>" + res.data[i].payType + "</td>";
        //                 html += "<td>" + res.data[i].price + "</td>";
        //                 html += "</tr>";
        //                 $(".cancelRes").append(html);
        //                 trVal[i] = res.data[i].pId;
        //                 tdVal[i] = res.data[i].ctId;
        //             }

        //             //모바일 예매취소 리스트
        //             //console.log("여기 리스트",res.data);
        //             for (let k = 0; k < res.data.length; k++) {
        //                 let html = "<dl>";
        //                 //html += "<dt>예약번호</dt><dd>xxxxxxxxxxx</dd>";
        //                 html += "<dt>결제날짜</dt><dd>" + res.data[k].PayDay + "</dd>";
        //                 html += "<dl class='dl3'><dt>예약정보</dt><dd>" + res.data[k].deptTe + "\n" + res.data[k].carName + "<br> <span>(평택 > 서울 동대문)</span></dd></dl>";
        //                 html += "<dt>좌석개수</dt><dd>" + res.data[k].seatCnt + "</dd>";
        //                 html += "<dt>결제수단</dt><dd>" + res.data[k].payType + "</dd>";
        //                 html += "<dt>결제금액</dt><dd>" + res.data[k].price + "</dd></dl>";
        //                 $(".table_mo").append(html);
        //                 trVal[k] = res.data[k].pId;
        //                 tdVal[k] = res.data[k].ctId;
        //             }
        //         }
        //     })
        // }




        // 예매 취소
        function resCancel() {
            $.ajax({
                url: "api/user/cancelRes",
                method: 'post',
                dataType: 'json',
                async: false,
                data: { 'trVal': trVal, 'tdVal': tdVal },
                success: function (res) {
                    //console.log("업데이트 값",res.data);
                    if (res.data == 0) {
                        swal({
                            title: '테스트입니다.',
                            icon: 'success',
                            button: '확인해셈',
                            text: '바랍라발바랍라'
                        }).then((value)=>{
                            location.href="mypage"
                        })
                        // alert("출발 3일전에는 취소가 불가능합니다.");
                        // location.href = "mypage";
                    } 
                    else {
                        Swal('Any fool can use a computer');
                        // location.href = "mypage";
                    }
                }
            })
        }
        

// Swal.fire('Any fool can use a computer')



        //현 장차예매 현황 체크박스 지우기
        $("#tab1").on('click', function () {
            $('.chkbox2').removeClass('on')
            $("input[type=radio]").prop("checked", false);
        })

        //결제리스트
        $("#tab2").on('click', function () {
            $('.chkbox2').removeClass('on')

            $('input[type=radio]').prop('checked', false);
            //달력 val 지우기
            $("#deptDay").val('')
            $("#endDay").val('')
            $("#payList").empty();
            $.ajax({
                url: "api/user/resPay",
                method: "post",
                dataType: "json",
                success: function (res) {
                    //PC리스트
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        // html += "<td>"+res.data[i].carName+"\n"+res.data[i].carNum+"</td>";
                        html += "<td>" + res.data[i].carName + "</td>";
                        html += "<td>" + res.data[i].seatCnt + "</td>";
                        html += "<td>" + (res.data[i].payType || "-") + "</td>";
                        html += "<td>" + (res.data[i].price || 0) + "</td>";
                        html += "</tr>";
                        $("#payList").append(html);
                    }
                }
            });
        });

        //결제리스트 모바일
        $("#tab_mo2").on('click', function () {
            $('.chkbox2').removeClass('on')
            
            //달력 val 지우기
            $("#deptDay").val('')
            $("#endDay").val('')
            //재 클릭시 테이블 비우기
            $(".list02_mo").empty();
            $.ajax({
                url: "api/user/resPayMo",
                method: "post",
                dataType: "json",
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<div class='list02_mo_list' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html += "<a class='popup_open2'>";
                        html += "<ul class='testcode' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">" + res.data[i].deptTe + "</li>";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">평택 - 서울동대문</li>";
                        html += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + "><i class='fas fa-chevron-right'></i></li>";
                        html += "</ul></a>";
                        html += "</div>";
                        $(".list02_mo").append(html);
                    }
                }
            });
        });

        //결제리스트 날짜 선택 @@@@@@@
        function payBetween() {
            if ($('#deptDay').val() == '' && $('#endDay').val() == '') {
                return false;

            }
            $('#payList').empty();
            $(".list02_mo").empty();
            $.ajax({
                url: "api/user/resPayBetween",
                method: "post",
                dataType: "json",
                data: {
                    'deptDay': $("#deptDay").val(),
                    'endDay': $("#endDay").val()
                },
                success: function (res) {
                    //console.log('resData ::::', res.data);
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        // html += "<td>"+res.data[i].carName+"\n"+res.data[i].carNum+"</td>";
                        html += "<td>" + res.data[i].carName + "</td>";
                        html += "<td>" + res.data[i].seatCnt + "</td>";
                        html += "<td>" + (res.data[i].payType || "-") + "</td>";
                        html += "<td>" + (res.data[i].price || 0) + "</td>";
                        html += "</tr>";
                        $("#payList").append(html);
                    }
                    //모바일 부분 @@@@@@@@@@@@@@@@@@@@@@@@@
                    for (let i = 0; i < res.data.length; i++) {
                        let html2 = "<div class='list02_mo_list' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">";
                        html2 += "<a class='popup_open2'>";
                        html2 += "<ul>";
                        html2 += "<li class='text' id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">" + res.data[i].deptTe + "</li>";
                        html2 += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[i].crCTID + " value=" + res.data[i].crPHID + "><i class='fas fa-chevron-right'></i></li>";
                        html2 += "</ul></a>";
                        html2 += "</div>";
                        $(".list02_mo").append(html2);
                    }
                }
            })
        }


        //모바일 결제내역 상세보기
        $(document).on('click', '.list02_mo_list', function (e) {
            $('#popup2').css('display', 'block');
            $('header').css('display','none')
            let ctId = e.target.id;
            let phId = e.target.value;
            //console.log(ctId)
            //console.log(phId)
            $.ajax({
                url: "api/user/resPayDetailMo",
                method: "post",
                dataType: "json",
                data: {
                    'ctId': ctId,
                    'phId': phId
                },
                success: function (res) {
                    $('.table_mo').empty();
                    // location.href = "#popup2"
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<table class='detail_table'>";
                        //html += "<dt>예약번호</dt><dd>xxxxxxxxx</dd>";
                        html += "<tr><th>결제일시</th><td>" + res.data[i].PayDay + "</td></tr>";
                        html += "<tr><th>예약정보</th><td>" + res.data[i].deptTe + '\n' + "" + res.data[i].carName + "<br><span>(평택 > 서울 동대문)</span></td></tr>";
                        html += "<tr><th>좌석개수</th><td>" + res.data[i].seatCnt + "</td></tr>";
                        html += "<tr><th>결제수단</th><td>" + res.data[i].payType + "</td><tr>";
                        html += "<tr><th>결제금액</th><td>" + res.data[i].price + "</td></tr></table>";
                        $('.table_mo').append(html);
                    }
                }
            })
        })



        //@@@@@PC 취소 및 환불 리스트
        $("#tab3").on('click', function () {
            $('.chkbox2').removeClass('on')
            
            //달력 val 지우기
            $("#cancelDeptDay").val('')
            $("#cancelEndDay").val('')
            $("#cancelList").empty();
            $.ajax({
                url: "api/user/resCancelList",
                method: "get",
                dataType: "json",
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        html += "<td>" + res.data[i].cancelDay + "</td>";
                        html += "<td>" + res.data[i].seatCnt + "</td>";
                        html += "<td>" + res.data[i].payType + "</td>";
                        html += "<td>" + res.data[i].price + "</td>";
                        html += "</tr>";
                        $("#cancelList").append(html);
                    }
                }
            });
        });

        //모바일 취소 및 환불 리스트
        $("#tab_mo3").on('click', function () {
            $('.chkbox2').removeClass('on')
            
            //달력 val 지우기
            $("#cancelDeptDay").val('')
            $("#cancelEndDay").val('')
            $(".list03_mo").empty();
            $.ajax({
                url: "api/user/resCancelListMo",
                method: "post",
                dataType: "json",
                success: function (res) {
                    //console.log("모바일 취소 리스트 :", res.data);
                    for (let k = 0; k < res.data.length; k++) {
                        let html2 = "<div class='list03_mo_list' id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">";
                        html2 += "<a class='popup_open3'>";
                        html2 += "<ul>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">" + res.data[k].deptTe + "</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + "><i class='fas fa-chevron-right'></i></li>";
                        html2 += "</ul></a></div>";
                        $(".list03_mo").append(html2);
                    }
                }
            });
        });
        //PC 취소 및 환불 리스트 날짜 검색
        function cancelBetween() {
            if ($('#cancelDeptDay').val() == '' && $('#cancelEndDay').val() == '') {
                return false;
            }
            $("#cancelList").empty();
            $(".list03_mo").empty();
            $.ajax({
                url: 'api/user/resCancelListBetween',
                method: 'post',
                dataType: 'json',
                data: {
                    'cancelDeptDay': $("#cancelDeptDay").val(),
                    'cancelEndDay': $("#cancelEndDay").val()
                },
                success: function (res) {
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<tr>";
                        html += "<td>" + res.data[i].PayDay + "</td>";
                        html += "<td>" + res.data[i].deptTe + "</td>";
                        html += "<td>" + res.data[i].cancelDay + "</td>";
                        html += "<td>" + res.data[i].seatCnt + "</td>";
                        html += "<td>" + res.data[i].payType + "</td>";
                        html += "<td>" + res.data[i].price + "</td>";
                        html += "</tr>";
                        $("#cancelList").append(html);
                    }
                    ///모바일 부분@@@@@@@@@@@@@@@@@@@@@@@@@
                    for (let k = 0; k < res.data.length; k++) {
                        let html2 = "<div class='list03_mo_list' id=" + res.data[k].ctId + " val=" + res.data[k].phId + ">";
                        html2 += "<a class='popup_open3'>";
                        html2 += "<ul>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">" + res.data[k].deptTe + "</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + ">평택 - 서울동대문</li>";
                        html2 += "<li id=" + res.data[k].ctId + " value=" + res.data[k].phId + "><i class='fas fa-chevron-right'></i></li>";
                        html2 += "</ul></a></div>";
                        $(".list03_mo").append(html2);
                    }
                }
            })
        }


        //모바일 취소 환불 내역 상세보기
        $(document).on('click', '.list03_mo_list', function (e) {
            $('#popup3').css('display', 'block');
            $('header').css('display','none')
            $('.layer').css('background', 'rgba(0,0,0, 0.5)');
            $.ajax({
                url: "api/user/resCancelDetailMo",
                method: "post",
                dataType: "json",
                data: {
                    'ctId': e.target.id,
                    'phId': e.target.value
                },
                success: function (res) {
                    //console.log("여기데이터 :", res.data);
                    $('.table_mo').empty();
                    // location.href = "#popup3"
                    for (let i = 0; i < res.data.length; i++) {
                        let html = "<table class='detail_table'>";
                        //html += "<dt>예약번호</dt><dd>xxxxxxxxx</dd>";
                        html += "<tr><th>결제일시</th><td>" + res.data[i].PayDay + "</td></tr>";
                        html += "<tr><th>예약정보</th><td>" + res.data[i].deptTe + '\n' + "" + res.data[i].carName + "<br><span>(평택 > 서울 동대문)</span></td></tr>";
                        html += "<tr><th>좌석개수</th><td>" + res.data[i].seatCnt + "</td></tr>";
                        html += "<tr><th>취소날짜</th><td>" + res.data[i].cancelDay + "</td></tr>"
                        html += "<tr><th>결제수단</th><td>" + res.data[i].payType + "</td></tr>";
                        html += "<tr><th>환불금액</th><td>" + res.data[i].price + "</td></tr></table>";
                        $('.table_mo').append(html);
                    }
                }
            })
        })

        $('.popup_close1').on('click', function () {
            $('#popup2').css('display', 'none');
            $('#popup3').css('display', 'none');
            $('.layer').css('background', '');
        })



    </script>

    <script>
        function openList(evt, reserve_list) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(reserve_list).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.getElementById("defaultOpen").click();
    </script>

    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("reserve_list");
        var btns = header.getElementsByClassName("reserve_bar, reserve_bar_mo");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
            });
        }
    </script>


    <script>
        $(document).ready(function () {

            //datepicker 한국어로 사용하기 위한 언어설정
            $.datepicker.setDefaults($.datepicker.regional['ko']);

            // Datepicker
            $(".datepicker").datepicker({
                showButtonPanel: true,
                dateFormat: "yy-mm-dd",
                showMonthAfterYear: true,
                nextText: ">",
                prevText: "<",
                maxDate: "today",
                onClose: function (selectedDate) {

                    var eleId = $(this).attr("id");
                    var optionName = "";

                    if (eleId.indexOf("StartDate") > 0) {
                        eleId = eleId.replace("StartDate", "EndDate");
                        optionName = "minDate";
                    } else {
                        eleId = eleId.replace("EndDate", "StartDate");
                        optionName = "maxDate";
                    }

                    $("#" + eleId).datepicker("option", optionName, selectedDate);
                    $(".searchDate").find(".chkbox").removeClass("on");
                }
            });

            //시작일.
            /*$('#searchStartDate').datepicker("option","onClose", function( selectedDate ) {
                // 시작일 datepicker가 닫힐때
                // 종료일의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
                $("#searchEndDate").datepicker( "option", "minDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });
            */

            //종료일.
            /*$('.searchEndDate').datepicker("option","onClose", function( selectedDate ) {
                // 종료일 datepicker가 닫힐때
                // 시작일의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정
                $(".searchStartDate").datepicker( "option", "maxDate", selectedDate );
                $(".searchDate").find(".chkbox2").removeClass("on");
            });*/


            $(".dateclick").dateclick(); // DateClick
            $(".searchDate").schDate(); // searchDate

        });

        // Search Date
        jQuery.fn.schDate = function () {
            var $obj = $(this);
            var $chk = $obj.find("input[type=radio]");
            $chk.click(function () {
                $('input:not(:checked)').parent(".chkbox").removeClass("on");
                $('input:checked').parent(".chkbox").addClass("on");
            });
        };

        // DateClick
        jQuery.fn.dateclick = function () {
            var $obj = $(this);
            $obj.click(function () {
                $(this).parent().find("input").focus();
                
            });
        }


        function setSearchDate(start) {

            var num = start.substring(0, 1);
            var str = start.substring(1, 2);

            var today = new Date();

            //var year = today.getFullYear();
            //var month = today.getMonth() + 1;
            //var day = today.getDate();

            var endDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('.searchEndDate').val(endDate);

            if (str == 'd') {
                today.setDate(today.getDate() - num);
            } else if (str == 'w') {
                today.setDate(today.getDate() - (num * 7));
            } else if (str == 'm') {
                today.setMonth(today.getMonth() - num);
                today.setDate(today.getDate() + 1);
            }

            var startDate = $.datepicker.formatDate('yy-mm-dd', today);
            $('.searchStartDate').val(startDate);

            // 종료일은 시작일 이전 날짜 선택하지 못하도록 비활성화
            $(".searchEndDate").datepicker("option", "minDate", startDate);

            // 시작일은 종료일 이후 날짜 선택하지 못하도록 비활성화
            $(".searchStartDate").datepicker("option", "maxDate", endDate);


            /*$('#searchEndDate').datepicker({
                dateFormat: "yy-mm-dd", // 날짜의 형식
                nextText: ">",
                prevText: "<"
            });screen
            });*/

        }

// QR코드vz

    </script>






</body>

</html>