<!DOCTYPE html>
<html lang="ko">

<head>
    <% include templates/head.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <!-- <link rel="stylesheet" href="/css/common_main.css"> -->
    <link rel="stylesheet" href="/css/video.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">


</head>

<body>
    <div class="wrap">
        <% include templates/header.ejs %>
        <!--section.main 시작-->
        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
                <div class="tnb">
                    <a href="video.ejs">
                        소개영상
                    </a>
                </div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">

                <!--타이틀-->
                <h6>소개영상</h6>
                <h1>VIDEO</h1>
                <div class="bar"></div>
                <h2><span style="font-weight: 300; color: #444;">평택 센트럴돔의 생생한 현장을 담았습니다.</span><br>
                    영상을 통해 <strong style="font-weight: 600;">센트럴돔이 가진 매력</strong>을 확인해보세요.</h2>


                <!--section.main_video-->
                <div class="hr-sect">
                    <p>추천 VIDEO</p>
                </div>
                <section class="main_video">

                </section>
                <!--// section.main_video-->



                <!--section.video_list-->
                <section class="video_list">

                    <div class="hr-sect">
                        <p>최신 VIDEO</p>
                    </div>

                    <ul>
                        <!--영상 목록 1번-->
                        <%for(let i=0; i<data.length; i++) {%>

                        <li class="popup_open" id='<%=data[i].YL_id%>' onclick="popVideo(this)" value='<%=i+1%>'>
                            <a>
                                <div class="video_img" id='<%=data[i].YL_id%>'>
                                    <iframe style="width: 100%; height: 100%;" src="<%=data[i].YL_url%>" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="video_txt">
                                    <h4><%=data[i].YL_title%></h4>
                                    <p><%=data[i].YL_ch_name%><span>|</span><%=data[i].YL_dDt%></p>
                                </div>
                            </a>
                        </li>

                        <%}%>
                    </ul>
        



                </section>
                <!--하단버튼-->

                <div class="btn_box">
                    <div class="pagination">
                    </div>
                </div>

            </div>
        </section>
    </div>

<!-- <div id="popup" class="layer" style="display: none;"> -->
    <div id="popup" class="layer" style="display: none;">
        <!--popup 내부 PC-->
        <div class="popup_box">

            <div class="popup_box_header">
                <a class="popup_close" onclick="exit()"><img src="/img/video/close_img.png" alt=""></a>
            </div>

            <div class="popup_box_inner">
                <div class="slideshow-container">

                    <!-- 내부 유튜브 -->
                    
                    <div class="dot-container">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                    </div>
                    <div class="video_control">
                        <div class="video_control_num"><strong id="firstPage">1</strong> / <span id="endPage"></span></div>
                        <a class="prev"><img src="/img/common/left_arrow_b.png" alt="이전버튼"></a>
                        <a class="next"><img src="/img/common/right_arrow_b.png" alt="다음버튼"></a>
                    </div>

                </div>            
            </div>


        </div>
    </div>

    <!--youtube 영상 사이즈 자동조절-->
    <script type="text/javascript">
        $(function () {
            $("iframe.myFrame").on('load',function () { //iframe 컨텐츠가 로드 된 후에 호출됩니다.
                var frame = $(this).get(0);
                var doc = (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
                $(this).height(doc.body.scrollHeight);
                $(this).width(doc.body.scrollWidth);
            });
        });


        //추천 비디오
        $.ajax({
            url: '/api/video/best',
            method: 'get',
            dataType: 'json',
            success: function (res) {
                //console.log("res :::",res)
                let html = "<div style='position: relative; height:0; padding-bottom: 56.25%;'>"
                html += "<iframe class='myFrame' src=" + res.data[0].YL_url + " frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen style='position: absolute; width:100%; height:100%;''></iframe></div>";
                html += "<div class='main_video_txt'>"
                html += "<h3>" + res.data[0].YL_title + "</h3>";
                html += "<h5>" + res.data[0].YL_ch_name + "<span>|</span>" + res.data[0].YL_dDt + "</h5></div>"
                $('.main_video').append(html);
            }
        })

        let currentPage = 1;
        //전체 페이지 수
        $.ajax({
            url: "/api/video/count",
            method: "post",
            async: false,
            success: function (res) {
                $("#endPage").text(res.data[0].cnt)
                for (let i = 1; i < Math.ceil(res.data[0].cnt / 6) + 1; i++) {
                    let html = ""
                    if (i == 1) {
                        html = "<a id='prevA'>❮</a>"
                    }
                    html += "<a href=/video/" + i + " id=" + i + "p" + " onclick='nowPage(this)'>" + i + "</a>";
                    if (i == Math.ceil(res.data[0].cnt / 6)) {
                        html += "<a id='nextA'>❯</a>";
                    }
                    $(".pagination").append(html);
                    //페이징 선택부분 색상 변경
                    if (document.location.href.split("/")[4] == i) {
                        $("#" + i + "p").attr('class', 'active')
                    }
                }
            }
        });

        function popVideo(e) {
            $('#popup').css('display', 'block');
            $('.wrap').css('display','none');
            //$('.video_control').css('display','block')
            //alert(document.location.href.split("/")[4])
            //alert(e.getAttribute('value'))
            let chkVal = Number(e.getAttribute('value'))
            if (document.location.href.split("/")[4] == 2) {
                chkVal = chkVal + 6
            } else if (document.location.href.split("/")[4] == 3) {
                chkVal = chkVal + 12
            } else if (document.location.href.split("/")[4] == 4) {
                chkVal = chkVal + 18
            }

            let youId = e.id
            $.ajax({
                url: '/api/user/videoPopup',
                method: 'post',
                dataType: 'json',
                data: { 'youId': youId },
                success: function (res) {
                    $('#firstPage').text(chkVal)
                    let html = "<div class='mySlides' id=" + res.data[0].YL_id + ">";
                    html += "<div class='video_slide'>";
                    html += "<iframe class='video' width='100%' height='100%;' src=" + res.data[0].YL_url + " frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>";
                    html += "<div class='video_slide_txt'>";
                    html += "<h3>" + res.data[0].YL_title + "</h3>";
                    html += "<h5>" + res.data[0].YL_ch_name + "<span>|</span>" + res.data[0].YL_dDt + "</h5>";
                    html += "<div class='text_box'><p>" + res.data[0].YL_description + "</p></div>";
                    html += "</div></div>";
                    $('.slideshow-container').append(html);
                }
            })
        }

        function exit() {
            $('#popup').css('display', 'none');
            $('.wrap').css('display','block');
            $('.mySlides').remove()
        }

        //이전버튼
        $('#prevA').on('click', function () {
            var para = document.location.href.split("/");
            //console.log('link2 :', para[4])
            if (para[4] == 1) {
                return;
            } else {
                location.href = '/video/' + (para[4] - 1);
            }

        })

        //이전버튼
        $(".prev").on('click', function () {
            let begin = $('#firstPage').text()
            //let yPage =Number($('.mySlides').attr('id'))-1
            if ($('#firstPage').text() == 1) {
                return;
            } else {
                $.ajax({
                    url: '/api/user/videoPopupBtn',
                    method: 'post',
                    dataType: 'json',
                    data: { 'begin': Number(begin) - 2 },
                    success: function (res) {
                        $('.mySlides').remove()
                        $('#firstPage').text(Number(begin) - 1)
                        let html = "<div class='mySlides' id=" + res.data[0].YL_id + ">";
                        html += "<div class='video_slide'>";
                        html += "<iframe class='video' width='100%' height='100%;' src=" + res.data[0].YL_url + " frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>";
                        html += "<div class='video_slide_txt'>";
                        html += "<h3>" + res.data[0].YL_title + "</h3>";
                        html += "<h5>" + res.data[0].YL_ch_name + "<span>|</span>" + res.data[0].YL_dDt + "</h5>";
                        html += "<div class='text_box'><p>" + res.data[0].YL_description + "</p></div>";
                        html += "</div></div>";
                        $('.slideshow-container').append(html);
                    }
                })
            }
        })


        $("#nextA").click(function () {
            let count = 0;
            $.ajax({
                url: "/api/video/count",
                method: "post",
                async: false,
                success: function (res) {
                    count = (res.data[0].cnt) % 6 + 1
                }
            });
            var para = document.location.href.split("/");
            //console.log('link2 :', para[4])
            if (para[4] == count) {
                return;
            } else {
                location.href = '/video/' + (Number(para[4]) + 1);
            }

        });

        //다음버튼
        $(".next").on('click', function () {
            let begin = $('#firstPage').text()
            //let yPage =Number($('.mySlides').attr('id'))+1
            //console.log(yPage)
            if (begin == Number($("#endPage").text())) {
                return;
            } else {
                $.ajax({
                    url: '/api/user/videoPopupBtn',
                    method: 'post',
                    dataType: 'json',
                    data: { 'begin': Number(begin) },
                    success: function (res) {
                        $('.mySlides').remove();
                        $('#firstPage').text(Number(begin) + 1)
                        let html = "<div class='mySlides' id=" + res.data[0].YL_id + ">";
                        html += "<div class='video_slide'>";
                        html += "<iframe class='video' width='100%' height='100%;' src=" + res.data[0].YL_url + " frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>";
                        html += "<div class='video_slide_txt'>";
                        html += "<h3>" + res.data[0].YL_title + "</h3>";
                        html += "<h5>" + res.data[0].YL_ch_name + "<span>|</span>" + res.data[0].YL_dDt + "</h5>";
                        html += "<div class='text_box'><p>" + res.data[0].YL_description + "</p></div>";
                        html += "</div></div>";
                        $('.slideshow-container').append(html);
                    }
                })
            }
        })
    </script>



    <!---video 슬라이드 이동시 재생중지되는 JS (참고용)-->

        <!--<footer></footer>-->
        <% include templates/footer.ejs %>
</body>
</html>