<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AZ369 보세의류쇼핑몰</title>
    <link rel="stylesheet" href="/css/video.css">


    <!--자바스크립트-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scrolla.jquery.min.js"></script>


    <!--폰트-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|PT+Serif&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">


</head>

<body>
    <div class="wrap">

        <header>

            <!--모바일 아이콘 열기-->
            <a href="#" class="open"><img src="/img/btn_berger_m.png" alt="메뉴열기"></a>

            <div class="innerHeader">
                <h1 class="logo">
                    <a href="index.ejs"><img src="/img/main/logo2.png" alt="센트럴돔 로고"></a>
                </h1>
                <nav class="gnb">
                    <ul>
                        <li><a href="summary.ejs" class="gnb_link">사업안내</a>
                            <ul>
                                <li><a href="summary.ejs">사업개요</a></li>
                                <li><a href="ctd_info.ejs">센트럴돔 소개</a></li>
                                <li><a href="location.ejs">오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="benefit.ejs" class="gnb_link">입점신청 및 혜택</a>
                            <ul>
                                <li><a href="benefit.ejs">입점 상가 혜택</a></li>
                                <li><a href="benefit_application.ejs">입점 상담 신청</a></li>
                            </ul>
                        </li>
                        <li><a href="vehicle.ejs" class="gnb_link">장차예매</a>
                            <ul>
                                <li><a href="vehicle.ejs">장차운행안내</a></li>
                                <li><a href="reservation_01.ejs">장차예매신청</a></li>
                                <li><a href="mypage.ejs">장차예매현황</a></li>
                            </ul>
                        </li>
                        <li><a href="video.ejs" class="gnb_link">소개영상</a>
                    </ul>
                </nav>

                <nav class="gnb2">
                    <ul>
                        <li><a href="login.ejs">로그인</a></li>
                        <li><a href="join_01.ejs">회원가입</a></li>
                        <li>
                            <div class="tooltip">전화문의
                                <span class="tooltiptext">031 - 668 - 0116</span></div>
                        </li>
                    </ul>
                </nav>
                <!--<div class="call">
                    문의 <span>031 - 668 - 0116</span>
                </div>-->

            </div>

            <!--모바일 메뉴-->
            <nav class="gnb_mo">
                <a href="#" class="close"><img src="/img/btn_gnb_close.png" alt="메뉴닫기"></a>



                <ul>
                    <li class="gnb_mo_login">
                        <a href="login.ejs">장차예매 시 <u>로그인</u>이 필요합니다.</a>
                    </li>
                    <li>
                        <a href="#">사업안내</a>
                        <ul class="inner">
                            <li><a href="summary.ejs">사업개요</a></li>
                            <li><a href="ctd_info.ejs">센트럴돔 소개</a></li>
                            <li><a href="location.ejs">오시는 길</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">입점신청 및 혜택</a>
                        <ul class="inner">
                            <li><a href="benefit.ejs">입점상가혜택</a></li>
                            <li><a href="benefit_application.ejs">입점상담신청</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">장차예매</a>
                        <ul class="inner">
                            <li><a href="vehicle.ejs">장차운행안내</a></li>
                            <li><a href="reservation_01.ejs">장차예약신청</a></li>
                            <li><a href="mypage.ejs">장차예매현황</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="video.ejs">소개영상</a>
                    </li>
                </ul>
            </nav>
        </header>


        <!--// header완료-->
        <!--section.main 시작-->


        <section class="main">
            <div class="inner_main">
                <div class="main_bg"></div>
            </div>
        </section>

        <!--//secton.main 완료-->
        <!--secton.sub_wrap 시작-->

        <section class="sub_wrap">
            <div class="inner_sub_wrap">


                <div class="tnb">
                    <ul>
                        <a href="video.ejs">
                            <li style="background: #ad8743; color: #fff">소개영상</li>
                        </a>

                    </ul>
                </div>

                <!--타이틀-->
                <h6>소개영상</h6>
                <h1 style="font-family: 'PT Serif', serif;">VIDEO</h1>
                <div class="bar"></div>
                <h2><span>평택 센트럴돔의 생생한 현장을 담았습니다.</span><br>
                    <em>영상을 통해 <strong>센트럴돔이 가진 매력</strong>을 확인해보세요.</em></h2>


                <!--section.main_video-->
                <div class="hr-sect">
                    <p>추천 VIDEO</p>
                </div>
                <section class="main_video">

                    <div style="position: relative; height:0; padding-bottom: 56.25%;">
                        <iframe class="myFrame" src="https://www.youtube.com/embed/sVxfPoeonzg?rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; width:100%; height:100%;"></iframe>
                    </div>

                    <div class="main_video_txt">
                        <h3>평택 가로수길 센트럴돔 헬로파크 현장을 가보니?</h3>
                        <h5>평택센트럴돔TV <span>|</span> 2020.03.03</h5>
                    </div>
                </section>
                <!--// section.main_video-->



                <!--section.video_list-->
                <section class="video_list">

                    <div class="hr-sect">
                        <p>최신 VIDEO</p>
                    </div>

                    <ul>
                        <!--영상 목록 1번-->
                        <%for(let i=0; i<data.length; i++) {%>
                            
                        <!-- <li class="popup_open" id='<%=data[i].YL_id%>' onclick="popVideo(this)"> -->
                        <li class="popup_open" id='<%=data[i].YL_id%>' onclick="popVideo(this)">
                            <a>
                               <div class="video_img" id='<%=data[i].YL_id%>' >
                                    <iframe style="width: 100%; height: 100%;" src="<%=data[i].YL_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="video_txt">
                                    <h4><%=data[i].YL_title%></h4>
                                    <p><%=data[i].YL_ch_name%><span>|</span><%=data[i].YL_dDt%></p>
                                </div>    
                            </a>                        
                        </li>
                    
                        <%}%>
                    </ul>
        


                    <!-- <div id="popup" class="layer" style="display: none;"> -->
                    <div id="popup" class="layer" style="display: none;">
                        <!--popup 내부 PC-->
                        <div class="popup_box">

                            <div class="popup_box_header">
                                <a class="popup_close" onclick="exit()"><img src="/img/video/close_img.png" alt=""></a>
                            </div>

                            <div class="popup_box_inner">
                                <div class="slideshow-container">
                                    

                                    <!-- 내부 유튜브 -->
                                    <div class="video_control">
                                        <div class="video_control_num"><strong>1</strong> / 12</div>
                                        <a class="prev" onclick="plusSlides(-1)"><img src="/img/video/prev_icon.png" alt="이전버튼"></a>
                                        <a class="next" onclick="plusSlides(1)"><img src="/img/video/next_icon.png" alt="다음버튼"></a>
                                    </div>
                                    <div class="dot-container">
                                        <span class="dot" onclick="currentSlide(1)"></span>
                                        <span class="dot" onclick="currentSlide(2)"></span>
                                        <span class="dot" onclick="currentSlide(3)"></span>
                                    </div>

                                </div>


                                <!--video 슬라이드-->
                                <script>
                                    var slideIndex = 1;
                                    showSlides(slideIndex);

                                    function plusSlides(n) {
                                        showSlides(slideIndex += n);
                                    }

                                    function currentSlide(n) {
                                        showSlides(slideIndex = n);
                                    }

                                    function showSlides(n) {
                                        var i;
                                        var slides = document.getElementsByClassName("mySlides");
                                        var dots = document.getElementsByClassName("dot");
                                        if (n > slides.length) {
                                            slideIndex = 1
                                        }
                                        if (n < 1) {
                                            slideIndex = slides.length
                                        }
                                        for (i = 0; i < slides.length; i++) {
                                            slides[i].style.display = "none";
                                        }
                                        for (i = 0; i < dots.length; i++) {
                                            dots[i].className = dots[i].className.replace(" active", "");
                                        }
                                        slides[slideIndex - 1].style.display = "block";
                                        dots[slideIndex - 1].className += " active";
                                    }
                                </script>

                            </div>


                        </div>
                    </div>
                </section>
                <!--하단버튼-->

                <div class="btn_box">
                    <div class="pagination">
                        <a href="#">❮</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">❯</a>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <script>

        'use sctrict';

        //gnb scroll
        //고정헤더, 사이드바 이벤트
        var scrollTop = 0;
        scrollTop = $(document).scrollTop();
        fixHeader();

        //윈도우창 조절시에 이벤트
        $(window).on('scroll resize', function() {
            scrollTop = $(document).scrollTop();
            fixHeader();

        });

        //고정헤더 함수
        function fixHeader() {
            if (scrollTop > 200) {
                $('header').addClass('on');
            } else {
                $('header').removeClass('on');
            }
        }


        //모바일 모드 gnb_mo

        setGnbMo();

        function setGnbMo() {
            $('header .open').on('click', function() {
                $('.gnb_mo').addClass('on');
            }); //햄버거버튼
            $('.gnb_mo .close').on('click', function() {
                $('.gnb_mo').removeClass('on');
                $('.gnb_mo > ul > li .inner').slideUp(); //하위메뉴
                $('.gnb_mo > ul > li > a').removeClass('on')
            });


            //inner메뉴 열기

            $('.gnb_mo > ul > li > a').on('click', function() {
                $(this).next().slideToggle();
                $(this).toggleClass('on'); //토글 클래스를 추가하고 빼고.
            });
        }


        //scroll 애니
        $(function() {
            var scrollAni = 0;
            //스크롤했을때 이벤트 적용
            scrollAni = $(document).scrollTop();
            ani('.menu_list, .int_slide, .owner_img, .insta_list'); //각 클래스 적용
            //윈도우창사이즈 조절시 동일하게 이벤트 적용
            $(window).on('scroll resize', function() {
                scrollAni = $(document).scrollTop();
                ani('.menu_list, .int_slide, .owner_img, .insta_list');
            });

            //함수선언 ani-함수명/(selector)-선택자
            function ani(selector) {
                $(selector).each(function() {

                    var $selector = $(this);
                    var minShow = $selector.offset().top - $(window).height();
                    var maxShow = $selector.offset().top + $selector.outerHeight();

                    $selector.removeClass('down on up');
                    if (scrollTop < minShow) {
                        $selector.addClass('down');
                    } else if (scrollTop > maxShow) {
                        $selector.addClass('up');
                    } else {
                        $selector.addClass('on');
                    }
                });
            }
        });
    </script>


    <!--youtube 영상 사이즈 자동조절-->
    <script type="text/javascript">
        $(function() {
            $("iframe.myFrame").load(function() { //iframe 컨텐츠가 로드 된 후에 호출됩니다.
                var frame = $(this).get(0);
                var doc = (frame.contentDocument) ? frame.contentDocument : frame.contentWindow.document;
                $(this).height(doc.body.scrollHeight);
                $(this).width(doc.body.scrollWidth);
            });
        });


        function popVideo(e){
            $('#popup').css('display', 'block');
            //$('.video_control').css('display','block')
            let youId = e.id
            $.ajax({
                url: 'api/user/videoPopup',
                method: 'post',
                dataType: 'json',
                data: {'youId' : youId},
                success: function(res){
                    let html =  "<div class='mySlides'>";
                        html += "<div class='video_slide'>";
                        html += "<iframe class='video' width='100%' height='100%;' src="+res.data[0].YL_url+" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe></div>";
                        html += "<div class='video_slide_txt'>";
                        html += "<h3>"+res.data[0].YL_title+"</h3>";
                        html += "<h5>"+res.data[0].YL_ch_name+"<span>|</span>"+res.data[0].YL_dDt+"</h5>";
                        html += "<div class='text_box'><p>"+res.data[0].YL_description+"</p></div>";
                        html += "</div></div>";
                    $('.slideshow-container').append(html);
                    
                    
                }
                
            })
        }

        function exit(){
            $('#popup').css('display','none');
            $('.slideshow-container').empty();
        }

    </script>



    <!---video 슬라이드 이동시 재생중지되는 JS (참고용)-->


</body></html>
