<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title>
        <% if ( title ) { %>
            <%= title %> | AZ369 관리 페이지
        <% } else { %> 
            AZ369 관리 페이지
        <% } %>
    </title>
    <!-- css 모음 -->
    <% include admin_head.ejs %>
    <%- HeaderCss %>
</head>

<body data-sidebar="">
    <div id="layout-wrapper">
        <% include admin_header.ejs %>
        <% include admin_sidebar.ejs %>
        <div class="main-content h-100">
            <%- Body %>
        </div>
        <%- Modal %>
    </div>
    <!-- admin_footer.js 에 필요한 스크립트 포함 시켜야함 -->
    <% include admin_footer.ejs %>
    <%- FooterJs %>
</body>

</html>