<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title>
        <% if ( title ) { %>
            <%= title %> | AZ369 관리 페이지
        <% } else { %> 
            AZ369 관리 페이지
        <% } %>
    </title>
    <% include admin_head.ejs %>
    <%- HeaderCss %>
</head>

<body data-sidebar="">
    <div id="layout-wrapper">
        <% include admin_header.ejs %>
        <% include admin_sidebar.ejs %>
        <div class="main-content h-100">
            <%- Body %>
        </div>
        <%- Modal %>
    </div>
    <% include admin_footer.ejs %>
    <%- FooterJs %>
</body>

</html>